
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 171rem;
}.foramtion-certificat-FsC {
  width: 100%;
  height: 160.1rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.foramtion-certificat-FsC .formation-PyQ {
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  height: 482.9rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG {
  margin-bottom: 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(2, 118, 111, 0.9599999785) 2.67%, rgba(106, 112, 114, 0.7200000286) 100%);
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .header-TiN {
  box-sizing: border-box;
  padding: 1.3rem 2.4rem 0rem 5.8rem;
  width: 100%;
  height: 13.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .header-TiN .fond-decran-fablab-1-myx {
  margin-right: 5.5rem;
  width: 11.4rem;
  height: 12.4rem;
  position: relative;
  background-size: 542.665% 483.908%;
  background-position: -21.6886rem -12.3989rem;
  background-image: url('../assets/fond-decran-fablab-1-HjU.png');
  border-radius: 12.75rem;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .header-TiN .frame-16-3Rg {
  margin: 3rem 0rem 4.3rem 0rem;
  box-sizing: border-box;
  padding: 0.45rem 0rem 0.7rem 2.7rem;
  height: calc(100% - 7.3rem);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .header-TiN .frame-16-3Rg .btnmenuclick-vkN {
  margin: 0rem 6rem 0.55rem 0rem;
  width: 9.8rem;
  height: 3.1rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .header-TiN .frame-16-3Rg .btnmenusimple-FGr {
  margin: 0.25rem 5.5rem 0rem 0rem;
  width: 8.7rem;
  height: 3.4rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #fdfdff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .header-TiN .frame-16-3Rg .btnmenusimple-v86 {
  margin: 0.25rem 5.5rem 0rem 0rem;
  width: 10.5rem;
  height: 3.4rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #fdfdff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .header-TiN .frame-16-3Rg .btnmenusimple-oBt {
  margin: 0.25rem 5.5rem 0rem 0rem;
  width: 17.1rem;
  height: 3.4rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #fdfdff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .header-TiN .frame-16-3Rg .btnmenusimple-Uop {
  margin: 0.25rem 7.3rem 0rem 0rem;
  width: 14.7rem;
  height: 3.4rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #fdfdff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .header-TiN .frame-16-3Rg .btnmenuclick-USS {
  margin: 0.35rem 7.3rem 0rem 0rem;
  width: 32.1rem;
  height: 3.1rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.1725;
  text-decoration-line: underline;
  color: #fdfdff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .header-TiN .frame-16-3Rg .btnmenusimple-LjY {
  margin-top: 0.25rem;
  width: 9.2rem;
  height: 3.4rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #fdfdff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .auto-group-lkj4-zZC {
  box-sizing: border-box;
  padding: 22.8rem 4.2rem 0rem 4.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .auto-group-lkj4-zZC .auto-group-njmy-K5g {
  margin-bottom: 2.7rem;
  width: 100%;
  display: flex;
  column-gap: 23.6rem;
  align-items: center;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .auto-group-lkj4-zZC .auto-group-njmy-K5g .tlcharger-4-1-rLW {
  width: 32.6rem;
  height: 24.1rem;
  position: relative;
  background-size: 100.418% 124.896%;
  background-position: -0rem 0;
  background-image: url('../assets/tlcharger-4-1.png');
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .auto-group-lkj4-zZC .auto-group-njmy-K5g .tlcharger-1-1-kRt {
  width: 37.2rem;
  height: 24.1rem;
  position: relative;
  background-size: 106.72% 119.502%;
  background-position: -2.5rem 0.7rem;
  background-image: url('../assets/tlcharger-1-1-4oY.png');
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .auto-group-lkj4-zZC .auto-group-njmy-K5g .oip-1-enA {
  width: 41.4rem;
  height: 24.1rem;
  position: relative;
  background-size: 100% 98.34%;
  background-position: 0 0.3rem;
  background-image: url('../assets/oip-1.png');
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .auto-group-lkj4-zZC .auto-group-p2rs-Z8S {
  margin: 0rem 4.2rem 8.5rem 0rem;
  height: 5.6rem;
  display: flex;
  column-gap: 34rem;
  align-items: center;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .auto-group-lkj4-zZC .auto-group-p2rs-Z8S .paragraphe-GYe {
  box-sizing: border-box;
  padding: 0 0.35rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  border: solid 0.2rem #000000;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .auto-group-lkj4-zZC .auto-group-p2rs-Z8S .paragraphe-GYe .gfvzvzuyvqehvqhbvkhqevh-evfdbhjdhjb-paA {
  max-width: 27.1rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: IM FELL French Canon, 'Source Sans Pro';
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .auto-group-lkj4-zZC .auto-group-p2rs-Z8S .paragraphe-XDg {
  box-sizing: border-box;
  padding: 0 0.35rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  border: solid 0.2rem #000000;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .auto-group-lkj4-zZC .auto-group-p2rs-Z8S .paragraphe-XDg .gfvzvzuyvqehvqhbvkhqevh-evfdbhjdhjb-sHY {
  max-width: 27.1rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: IM FELL French Canon, 'Source Sans Pro';
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .auto-group-lkj4-zZC .auto-group-p2rs-Z8S .paragraphe-ybU {
  box-sizing: border-box;
  padding: 0 0.35rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  border: solid 0.2rem #000000;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .auto-group-lkj4-zZC .auto-group-p2rs-Z8S .paragraphe-ybU .gfvzvzuyvqehvqhbvkhqevh-evfdbhjdhjb-LS2 {
  max-width: 27.1rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: IM FELL French Canon, 'Source Sans Pro';
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .auto-group-lkj4-zZC .auto-group-cvs2-SV4 {
  margin-bottom: 5rem;
  width: 100%;
  display: flex;
  column-gap: 23.6rem;
  align-items: center;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .auto-group-lkj4-zZC .auto-group-cvs2-SV4 .tlcharger-1-mGS {
  width: 32.6rem;
  height: 27.4rem;
  position: relative;
  background-size: 110.748% 98.776%;
  background-position: -0rem 0.3355rem;
  background-image: url('../assets/tlcharger-1-AXY.png');
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .auto-group-lkj4-zZC .auto-group-cvs2-SV4 .th-1-1-rog {
  width: 37.2rem;
  height: 27.4rem;
  position: relative;
  background-size: 111.138% 110.949%;
  background-position: -0rem 0;
  background-image: url('../assets/th-1-1.png');
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .auto-group-lkj4-zZC .auto-group-cvs2-SV4 .tlcharg-1-aDt {
  width: 41.4rem;
  height: 27.4rem;
  position: relative;
  background-size: 72.947% 81.863%;
  background-position: 11.2rem 4.701rem;
  background-image: url('../assets/tlcharg-1.png');
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .auto-group-lkj4-zZC .auto-group-gqyz-sTt {
  margin: 0rem 4.55rem 6.8rem 0rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .auto-group-lkj4-zZC .auto-group-gqyz-sTt .paragraphe-14J {
  margin-right: 34.35rem;
  box-sizing: border-box;
  padding: 0 0.35rem;
  height: 5.6rem;
  overflow: hidden;
  position: relative;
  border: solid 0.2rem #000000;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .auto-group-lkj4-zZC .auto-group-gqyz-sTt .paragraphe-14J .gfvzvzuyvqehvqhbvkhqevh-evfdbhjdhjb-jkz {
  max-width: 27.1rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: IM FELL French Canon, 'Source Sans Pro';
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .auto-group-lkj4-zZC .auto-group-gqyz-sTt .gfvzvzuyvqehvqhbvkhqevh-evfdbhjdhjb-rKp {
  margin-right: 34.7rem;
  max-width: 27.1rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: IM FELL French Canon, 'Source Sans Pro';
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .auto-group-lkj4-zZC .auto-group-gqyz-sTt .gfvzvzuyvqehvqhbvkhqevh-evfdbhjdhjb-9pi {
  max-width: 27.1rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: IM FELL French Canon, 'Source Sans Pro';
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .auto-group-lkj4-zZC .frame-19-gJr {
  margin: 0rem 5.5rem 0rem 5.3rem;
  box-sizing: border-box;
  padding: 0.35rem 0.5rem 0.35rem 3.7rem;
  width: calc(100% - 10.8rem);
  height: 35.9rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  border: solid 0 #000000;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .auto-group-lkj4-zZC .frame-19-gJr .paragraphe-mLJ {
  margin: 0rem 8.7rem 1.05rem 0rem;
  height: 8.4rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .auto-group-lkj4-zZC .frame-19-gJr .paragraphe-mLJ .gfvzvzuyvqehvqhbvkhqevh-evfdbhjdhjb-6dU {
  max-width: 51.6rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #fff400;
  font-family: IM FELL French Canon, 'Source Sans Pro';
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .auto-group-lkj4-zZC .frame-19-gJr .titre-de-section-R9x {
  margin: 0rem 22.4rem 29.5rem 0rem;
  width: 19.6rem;
  height: 5.7rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .auto-group-lkj4-zZC .frame-19-gJr .frame-14-6Wz {
  margin-bottom: 1.05rem;
  box-sizing: border-box;
  padding: 1.7rem 0rem 0rem 1.8rem;
  height: 11rem;
  overflow: hidden;
  position: relative;
  display: flex;
  column-gap: 6.3rem;
  align-items: flex-end;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .auto-group-lkj4-zZC .frame-19-gJr .frame-14-6Wz .tlchargement-7-1-bie {
  width: 9.9rem;
  height: 9.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .auto-group-lkj4-zZC .frame-19-gJr .frame-14-6Wz .tlchargement-6-1-LAS {
  width: 7.3rem;
  height: 9.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1certificat-KMG .auto-group-lkj4-zZC .frame-19-gJr .frame-14-6Wz .tlchargement-5-1-Gpn {
  width: 9.5rem;
  height: 10.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant2-XEv {
  margin-bottom: 160.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: linear-gradient(180deg, #075358 -0%, rgba(11, 132, 137, 0.6929487586) 44.5%, rgba(10, 39, 55, 0.3899999857) 89%, #000e10 99.95%, rgba(9, 109, 111, 0.4970045984) 99.96%, rgba(3, 53, 47, 0) 99.97%);
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant2-XEv .header-51Y {
  box-sizing: border-box;
  padding: 1.3rem 2.4rem 0rem 5.8rem;
  width: 100%;
  height: 13.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant2-XEv .header-51Y .fond-decran-fablab-1-bVg {
  margin-right: 5.5rem;
  width: 11.4rem;
  height: 12.4rem;
  position: relative;
  background-size: 542.665% 483.908%;
  background-position: -21.6886rem -12.3989rem;
  background-image: url('../assets/fond-decran-fablab-1-Y8n.png');
  border-radius: 12.75rem;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant2-XEv .header-51Y .frame-16-g1L {
  margin: 3rem 0rem 4.3rem 0rem;
  box-sizing: border-box;
  padding: 0.45rem 0rem 0.7rem 2.7rem;
  height: calc(100% - 7.3rem);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant2-XEv .header-51Y .frame-16-g1L .btnmenuclick-MtA {
  margin: 0rem 6rem 0.55rem 0rem;
  width: 9.8rem;
  height: 3.1rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant2-XEv .header-51Y .frame-16-g1L .btnmenusimple-gfY {
  margin: 0.25rem 5.5rem 0rem 0rem;
  width: 8.7rem;
  height: 3.4rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #fdfdff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant2-XEv .header-51Y .frame-16-g1L .btnmenusimple-ZzE {
  margin: 0.25rem 5.5rem 0rem 0rem;
  width: 10.5rem;
  height: 3.4rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #fdfdff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant2-XEv .header-51Y .frame-16-g1L .btnmenusimple-TZp {
  margin: 0.25rem 5.5rem 0rem 0rem;
  width: 17.1rem;
  height: 3.4rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #fdfdff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant2-XEv .header-51Y .frame-16-g1L .btnmenusimple-LtW {
  margin: 0.25rem 7.3rem 0rem 0rem;
  width: 14.7rem;
  height: 3.4rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #fdfdff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant2-XEv .header-51Y .frame-16-g1L .btnmenuclick-Rux {
  margin: 0.35rem 7.3rem 0rem 0rem;
  width: 32.1rem;
  height: 3.1rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.1725;
  text-decoration-line: underline;
  color: #fdfdff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant2-XEv .header-51Y .frame-16-g1L .btnmenusimple-Vup {
  margin-top: 0.25rem;
  width: 9.2rem;
  height: 3.4rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #fdfdff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(2, 118, 111, 0.9599999785) 2.67%, rgba(106, 112, 114, 0.7200000286) 100%);
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .header-RS6 {
  box-sizing: border-box;
  padding: 1.3rem 2.4rem 0rem 5.8rem;
  width: 100%;
  height: 13.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .header-RS6 .fond-decran-fablab-1-M4r {
  margin-right: 5.5rem;
  width: 11.4rem;
  height: 12.4rem;
  position: relative;
  background-size: 542.665% 483.908%;
  background-position: -21.6886rem -12.3989rem;
  background-image: url('../assets/fond-decran-fablab-1-ThG.png');
  border-radius: 12.75rem;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .header-RS6 .frame-16-pDL {
  margin: 3rem 0rem 4.3rem 0rem;
  box-sizing: border-box;
  padding: 0.45rem 0rem 0.7rem 2.7rem;
  height: calc(100% - 7.3rem);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .header-RS6 .frame-16-pDL .btnmenuclick-v1U {
  margin: 0rem 6rem 0.55rem 0rem;
  width: 9.8rem;
  height: 3.1rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .header-RS6 .frame-16-pDL .btnmenusimple-Enr {
  margin: 0.25rem 5.5rem 0rem 0rem;
  width: 8.7rem;
  height: 3.4rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #fdfdff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .header-RS6 .frame-16-pDL .btnmenusimple-iT8 {
  margin: 0.25rem 5.5rem 0rem 0rem;
  width: 10.5rem;
  height: 3.4rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #fdfdff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .header-RS6 .frame-16-pDL .btnmenusimple-oUa {
  margin: 0.25rem 5.5rem 0rem 0rem;
  width: 17.1rem;
  height: 3.4rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #fdfdff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .header-RS6 .frame-16-pDL .btnmenusimple-Hee {
  margin: 0.25rem 7.3rem 0rem 0rem;
  width: 14.7rem;
  height: 3.4rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #fdfdff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .header-RS6 .frame-16-pDL .btnmenuclick-mJv {
  margin: 0.35rem 7.3rem 0rem 0rem;
  width: 32.1rem;
  height: 3.1rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.1725;
  text-decoration-line: underline;
  color: #fdfdff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .header-RS6 .frame-16-pDL .btnmenusimple-438 {
  margin-top: 0.25rem;
  width: 9.2rem;
  height: 3.4rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #fdfdff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .auto-group-q37t-XSW {
  box-sizing: border-box;
  padding: 22.8rem 4.1rem 0rem 4.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .auto-group-q37t-XSW .auto-group-p6ai-eX8 {
  margin: 0rem 0.1rem 2.7rem 0rem;
  display: flex;
  column-gap: 23.6rem;
  align-items: center;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .auto-group-q37t-XSW .auto-group-p6ai-eX8 .tlcharger-4-1-B1G {
  width: 32.6rem;
  height: 24.1rem;
  position: relative;
  background-size: 100.418% 124.896%;
  background-position: -0rem 0;
  background-image: url('../assets/tlcharger-4-1-n8W.png');
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .auto-group-q37t-XSW .auto-group-p6ai-eX8 .tlcharger-1-1-Um4 {
  width: 37.2rem;
  height: 24.1rem;
  position: relative;
  background-size: 106.72% 119.502%;
  background-position: -2.5rem 0.7rem;
  background-image: url('../assets/tlcharger-1-1.png');
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .auto-group-q37t-XSW .auto-group-p6ai-eX8 .oip-1-BfU {
  width: 41.4rem;
  height: 24.1rem;
  position: relative;
  background-size: 100% 98.34%;
  background-position: 0 0.3rem;
  background-image: url('../assets/oip-1-ZBc.png');
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .auto-group-q37t-XSW .auto-group-wnpe-tpn {
  margin: 0rem 4.3rem 8.5rem 0rem;
  height: 5.6rem;
  display: flex;
  column-gap: 34rem;
  align-items: center;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .auto-group-q37t-XSW .auto-group-wnpe-tpn .paragraphe-cVt {
  width: 27.8rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: IM FELL French Canon, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.2rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .auto-group-q37t-XSW .auto-group-wnpe-tpn .paragraphe-tiJ {
  width: 27.8rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: IM FELL French Canon, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.2rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .auto-group-q37t-XSW .auto-group-wnpe-tpn .paragraphe-yze {
  width: 27.8rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: IM FELL French Canon, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.2rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .auto-group-q37t-XSW .auto-group-et6a-UwQ {
  margin: 0rem 0.1rem 5rem 0rem;
  display: flex;
  column-gap: 23.6rem;
  align-items: center;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .auto-group-q37t-XSW .auto-group-et6a-UwQ .tlcharger-1-oCz {
  width: 32.6rem;
  height: 27.4rem;
  position: relative;
  background-size: 110.748% 98.776%;
  background-position: -0rem 0.3355rem;
  background-image: url('../assets/tlcharger-1.png');
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .auto-group-q37t-XSW .auto-group-et6a-UwQ .th-1-1-JfY {
  width: 37.2rem;
  height: 27.4rem;
  position: relative;
  background-size: 111.138% 110.949%;
  background-position: -0rem 0;
  background-image: url('../assets/th-1-1-Nd4.png');
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .auto-group-q37t-XSW .auto-group-et6a-UwQ .tlcharg-1-QyU {
  width: 41.4rem;
  height: 27.4rem;
  position: relative;
  background-size: 72.947% 81.863%;
  background-position: 11.2rem 4.701rem;
  background-image: url('../assets/tlcharg-1-Dnv.png');
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .auto-group-q37t-XSW .auto-group-sbrn-7cz {
  margin: 0rem 0rem 7.3rem 1.4rem;
  height: 5.6rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .auto-group-q37t-XSW .auto-group-sbrn-7cz .paragraphe-e78 {
  margin-right: 28.3rem;
  width: 27.8rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: IM FELL French Canon, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.2rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .auto-group-q37t-XSW .auto-group-sbrn-7cz .gfvzvzuyvqehvqhbvkhqevh-evfdbhjdhjb-Xwc {
  margin-right: 22.6rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: IM FELL French Canon, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .auto-group-q37t-XSW .auto-group-sbrn-7cz .gfvzvzuyvqehvqhbvkhqevh-evfdbhjdhjb-emL {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: IM FELL French Canon, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .auto-group-q37t-XSW .frame-19-a9C {
  margin: 0rem 5.6rem 0rem 5.3rem;
  box-sizing: border-box;
  padding: 0.35rem 0.5rem 0.35rem 3.7rem;
  width: calc(100% - 10.9rem);
  height: 35.9rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  border: solid 0 #000000;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .auto-group-q37t-XSW .frame-19-a9C .paragraphe-qqp {
  margin: 0rem 8.7rem 1.05rem 0rem;
  width: 51.6rem;
  overflow: hidden;
  position: relative;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #fff400;
  font-family: IM FELL French Canon, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .auto-group-q37t-XSW .frame-19-a9C .titre-de-section-Lna {
  margin: 0rem 22.4rem 29.5rem 0rem;
  width: 19.6rem;
  height: 5.7rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .auto-group-q37t-XSW .frame-19-a9C .frame-14-pSr {
  margin-bottom: 1.05rem;
  box-sizing: border-box;
  padding: 1.7rem 0rem 0rem 1.8rem;
  overflow: hidden;
  position: relative;
  display: flex;
  column-gap: 6.3rem;
  align-items: flex-end;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .auto-group-q37t-XSW .frame-19-a9C .frame-14-pSr .tlchargement-7-1-KuQ {
  width: 9.9rem;
  height: 9.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .auto-group-q37t-XSW .frame-19-a9C .frame-14-pSr .tlchargement-6-1-ruL {
  width: 7.3rem;
  height: 9.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.foramtion-certificat-FsC .formation-PyQ .property-1variant3-Gp6 .auto-group-q37t-XSW .frame-19-a9C .frame-14-pSr .tlchargement-5-1-zEr {
  width: 9.5rem;
  height: 10.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
