
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 15.2rem;
}.btnmenuclick-ccE {
  text-align: center;
  text-decoration-line: underline;
  color: #fdfdff;
  font-family: Roboto Serif, 'Source Sans Pro';
  position: relative;
  line-height: 1.1725;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 2.6rem;
  width: 100%;
  overflow: hidden;
  align-items: center;
  height: 3.9rem;
}
