
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 30.2rem;
}.card-2R4 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1.1rem 2.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .frame-2-MiE {
    margin-bottom: 2.4rem;
    width: 25rem;
    height: 15rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 1rem;
    flex-shrink: 0;
  }
  .frame-3-UH4 {
    justify-content: center;
    font-size: 2.4rem;
    line-height: 1.2575;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    border: solid 0.2rem #000000;
    box-sizing: border-box;
    flex-shrink: 0;
    overflow: hidden;
    font-weight: 400;
    display: flex;
    position: relative;
    color: #000000;
    font-family: IM FELL French Canon, 'Source Sans Pro';
    margin: 0 2.5rem;
    width: calc(100% - 5rem);
    height: 4.2rem;
  }
}
