
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 23.3rem;
}.cardequipe-LMC {
  padding: 0 0.8rem;
  position: relative;
  flex-direction: column;
  align-items: center;
  display: flex;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;

  .frame-4-HGS {
    flex-shrink: 0;
    width: 15.3rem;
    height: 11.4rem;
    background-position: 0.3801rem -2.3288rem;
    background-image: url('REPLACE_IMAGE:6cba11940dca3fbbbac37ae889925454e0face9d');
    border-radius: 29rem;
    margin-bottom: 1rem;
    position: relative;
    background-size: 100% 247.544%;
  }
  .frame-7-wrn {
    padding: 1rem 3.75rem 0.5rem 3.75rem;
    width: 100%;
    height: 7.6rem;
    overflow: hidden;
    position: relative;
    border: solid 0.2rem #000000;
    flex-shrink: 0;
    box-sizing: border-box;

    .vjsjbvjdbvb-fbjkfdkkkkkkk-g3g {
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #000000;
      font-family: IM FELL French Canon, 'Source Sans Pro';
      max-width: 14.2rem;
      text-align: center;
    }
  }
}
