
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 18.8rem;
}.logo-x38 {
  width: 100%;
  height: 20.1rem;

  .fond-decran-fablab-1-7gi {
    background-image: url('REPLACE_IMAGE:f6dd2711b5d0ab874c295e2d7ea7e8c27bc3e7f9');
    border-radius: 12.75rem;
    width: 18.8rem;
    height: 20.1rem;
    position: relative;
    background-size: 503.367% 234.542%;
    background-position: -39.2621rem -12.4471rem;
  }
}
