
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.4rem;
}.titre-de-section-jsC {
  width: 100%;
  overflow: hidden;
  font-size: 4.8rem;
  line-height: 1.1725;
  height: 9.4rem;
  font-family: Roboto Serif, 'Source Sans Pro';
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem #000000;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  font-weight: 400;
  color: #000000;
}
