
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 67.5rem;
}.acceuil-eDL {
  box-sizing: border-box;
  padding-bottom: 2.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.acceuil-eDL .header-2Un {
  box-sizing: border-box;
  padding: 1.4rem 0.6rem 0.9rem 0.6rem;
  width: 100%;
  height: 7rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.3rem #000000;
  flex-shrink: 0;
}
.acceuil-eDL .header-2Un .group-3-sNv {
  margin: 0rem 5.6rem 0.5rem 0rem;
  width: 4.5rem;
  height: 4.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.06rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/logo.png');
  flex-shrink: 0;
}
.acceuil-eDL .header-2Un .auto-group-7gva-RHx {
  margin: 1.2rem 2rem 0rem 0rem;
  width: 6.5rem;
  height: 3.5rem;
  border-bottom: solid 0.5rem #211ed6;
  box-sizing: border-box;
  flex-shrink: 0;
}
.acceuil-eDL .header-2Un .auto-group-7gva-RHx .btnacceuil-Xbt {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 1.9rem;
  overflow: hidden;
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.06rem;
  color: #080808;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
}
.acceuil-eDL .header-2Un .btnformations-tqk {
  margin: 1.2rem 2rem 1.6rem 0rem;
  width: 8.9rem;
  height: calc(100% - 2.8rem);
  overflow: hidden;
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.06rem;
  color: #080808;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.acceuil-eDL .header-2Un .btnactuait-XNv {
  margin: 1.2rem 2rem 1.6rem 0rem;
  width: 8.2rem;
  height: calc(100% - 2.8rem);
  overflow: hidden;
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.06rem;
  color: #080808;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.acceuil-eDL .header-2Un .btnralisation-m2N {
  margin: 1.2rem 2rem 1.6rem 0rem;
  width: 9.5rem;
  height: calc(100% - 2.8rem);
  overflow: hidden;
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.06rem;
  color: #080808;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.acceuil-eDL .header-2Un .btncontact-zQv {
  margin: 1.2rem 2rem 1.6rem 0rem;
  width: 6.2rem;
  height: calc(100% - 2.8rem);
  overflow: hidden;
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.06rem;
  color: #080808;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.acceuil-eDL .header-2Un .btncontact-din {
  margin: 1.2rem 0rem 1.6rem 0rem;
  width: 6.9rem;
  height: calc(100% - 2.8rem);
  overflow: hidden;
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.06rem;
  color: #080808;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.acceuil-eDL .auto-group-ye2s-FkA {
  box-sizing: border-box;
  padding: 9.9rem 0rem 2rem 0.1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.acceuil-eDL .auto-group-ye2s-FkA .frame-1-a1k {
  margin: 0rem 6.2rem 7rem 7rem;
  box-sizing: border-box;
  padding: 2.2rem 12.4rem 2.6rem 12.4rem;
  width: calc(100% - 13.2rem);
  height: 10.7rem;
  overflow: hidden;
  position: relative;
  border: solid 0.3rem #000000;
  flex-shrink: 0;
}
.acceuil-eDL .auto-group-ye2s-FkA .frame-1-a1k .image-en-fond-de-lquipe-mot-de-bienvenue-fJ6 {
  max-width: 29.4rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.acceuil-eDL .auto-group-ye2s-FkA .frame-2-vUv {
  margin: 0rem 6rem 7.4rem 7.2rem;
  box-sizing: border-box;
  padding: 1.4rem 2.1rem 1.6rem 8.4rem;
  width: calc(100% - 13.2rem);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.3rem #000000;
  flex-shrink: 0;
}
.acceuil-eDL .auto-group-ye2s-FkA .frame-2-vUv .group-1-RAn {
  margin: 0.3rem 6.3rem 0rem 0rem;
  box-sizing: border-box;
  padding: 1.1rem 2.55rem 0.4rem 2.55rem;
  width: 18.7rem;
  height: 7.4rem;
  border: solid 0.2rem #000000;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.acceuil-eDL .auto-group-ye2s-FkA .frame-2-vUv .group-1-RAn .mot-du-fab-manager-u5x {
  max-width: 13.6rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.acceuil-eDL .auto-group-ye2s-FkA .frame-2-vUv .group-2-C54 {
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding: 1.1rem 2.05rem 0.4rem 2.05rem;
  width: 18.7rem;
  height: 7.4rem;
  border: solid 0.2rem #000000;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.acceuil-eDL .auto-group-ye2s-FkA .frame-2-vUv .group-2-C54 .photo-du-fab-manager-7C2 {
  max-width: 14.6rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.acceuil-eDL .auto-group-ye2s-FkA .frame-13-Bhg {
  box-sizing: border-box;
  padding: 2.65rem 5.05rem 3rem 5.55rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.3rem #000000;
  flex-shrink: 0;
}
.acceuil-eDL .auto-group-ye2s-FkA .frame-13-Bhg .notre-quipe-7bL {
  margin: 0rem 0.5rem 1.2rem 0rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.12rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.acceuil-eDL .auto-group-ye2s-FkA .frame-13-Bhg .group-4-DPU {
  width: 100%;
  height: 11.55rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.acceuil-eDL .auto-group-ye2s-FkA .frame-13-Bhg .group-4-DPU .group-10-kPQ {
  margin-right: 3.1rem;
  width: 10.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.acceuil-eDL .auto-group-ye2s-FkA .frame-13-Bhg .group-4-DPU .group-10-kPQ .auto-group-ygdl-HeE {
  margin: 0rem 1.738rem 0.778rem 1.75rem;
  width: calc(100% - 3.4885rem);
  height: 6.8447rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/logo-RRg.png');
  flex-shrink: 0;
}
.acceuil-eDL .auto-group-ye2s-FkA .frame-13-Bhg .group-4-DPU .group-10-kPQ .fab-manager-qBt {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.acceuil-eDL .auto-group-ye2s-FkA .frame-13-Bhg .group-4-DPU .group-11-xGW {
  margin-right: 4.4rem;
  width: 11.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.acceuil-eDL .auto-group-ye2s-FkA .frame-13-Bhg .group-4-DPU .group-11-xGW .auto-group-dbew-VGS {
  margin: 0rem 2.238rem 0.805rem 2.25rem;
  width: calc(100% - 4.4885rem);
  height: 6.8447rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/logo-UbG.png');
  flex-shrink: 0;
}
.acceuil-eDL .auto-group-ye2s-FkA .frame-13-Bhg .group-4-DPU .group-11-xGW .formateur-dveloppement-XU2 {
  max-width: 11.8rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.acceuil-eDL .auto-group-ye2s-FkA .frame-13-Bhg .group-4-DPU .group-12-DLr {
  margin-right: 4.5rem;
  width: 10.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.acceuil-eDL .auto-group-ye2s-FkA .frame-13-Bhg .group-4-DPU .group-12-DLr .auto-group-aj4e-vWA {
  margin: 0rem 1.538rem 0.805rem 1.55rem;
  width: calc(100% - 3.0885rem);
  height: 6.8447rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/logo-E3x.png');
  flex-shrink: 0;
}
.acceuil-eDL .auto-group-ye2s-FkA .frame-13-Bhg .group-4-DPU .group-12-DLr .formateur-lectronique-8s8 {
  max-width: 10.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.acceuil-eDL .auto-group-ye2s-FkA .frame-13-Bhg .group-4-DPU .group-13-e4n {
  width: 11.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.acceuil-eDL .auto-group-ye2s-FkA .frame-13-Bhg .group-4-DPU .group-13-e4n .auto-group-ecfq-BqQ {
  margin: 0rem 2.238rem 0.805rem 2.25rem;
  width: calc(100% - 4.4885rem);
  height: 6.8447rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/logo-C8N.png');
  flex-shrink: 0;
}
.acceuil-eDL .auto-group-ye2s-FkA .frame-13-Bhg .group-4-DPU .group-13-e4n .formateur-refrent-digitale-qQA {
  max-width: 11.8rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.acceuil-eDL .frame-13-6az {
  box-sizing: border-box;
  padding: 1.2rem 1.35rem 0.9rem 4.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.3rem #000000;
  flex-shrink: 0;
}
.acceuil-eDL .frame-13-6az .contact-Qbg {
  margin: 0rem 2.05rem 1.2rem 0rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.12rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.acceuil-eDL .frame-13-6az .auto-group-2izc-tWr {
  margin-bottom: 2.6rem;
  width: 100%;
  height: 9.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.acceuil-eDL .frame-13-6az .auto-group-2izc-tWr .group-3-pfQ {
  margin-right: 2.3rem;
  box-sizing: border-box;
  padding: 1.368rem 3.25rem 1.932rem 3.25rem;
  width: 18.7rem;
  height: 100%;
  border: solid 0.2rem #000000;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.acceuil-eDL .frame-13-6az .auto-group-2izc-tWr .group-3-pfQ .formulaire-de-contact-9Bt {
  max-width: 12.2rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.acceuil-eDL .frame-13-6az .auto-group-2izc-tWr .localisation-adesseadresse-3o4 {
  margin: 0rem 4.05rem 0.5rem 0rem;
  max-width: 17.9rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.acceuil-eDL .frame-13-6az .auto-group-2izc-tWr .rseaux-sociaux-95Q {
  margin-bottom: 0.4rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.acceuil-eDL .frame-13-6az .mention-lgale-fZY {
  margin-right: 3.05rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
