
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 67.3rem;
}.formations-icv {
  box-sizing: border-box;
  padding-bottom: 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.formations-icv .header-djt {
  box-sizing: border-box;
  padding: 1.4rem 0.6rem 0.9rem 0.6rem;
  width: 67.5rem;
  height: 7rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.3rem #000000;
  flex-shrink: 0;
}
.formations-icv .header-djt .group-3-Xin {
  margin: 0rem 5.6rem 0.5rem 0rem;
  width: 4.5rem;
  height: 4.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.06rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/logo-gTQ.png');
  flex-shrink: 0;
}
.formations-icv .header-djt .btnacceuil-Z9g {
  margin: 1.2rem 2rem 1.6rem 0rem;
  width: 6.5rem;
  height: calc(100% - 2.8rem);
  overflow: hidden;
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.06rem;
  color: #080808;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.formations-icv .header-djt .auto-group-jcxq-QAJ {
  margin: 1.2rem 2rem 0rem 0rem;
  width: 8.9rem;
  height: 3.5rem;
  border-bottom: solid 0.5rem #211ed6;
  box-sizing: border-box;
  flex-shrink: 0;
}
.formations-icv .header-djt .auto-group-jcxq-QAJ .btnformations-8MC {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 1.9rem;
  overflow: hidden;
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.06rem;
  color: #080808;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
}
.formations-icv .header-djt .btnactuait-nRk {
  margin: 1.2rem 2rem 1.6rem 0rem;
  width: 8.2rem;
  height: calc(100% - 2.8rem);
  overflow: hidden;
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.06rem;
  color: #080808;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.formations-icv .header-djt .btnralisation-eir {
  margin: 1.2rem 2rem 1.6rem 0rem;
  width: 9.5rem;
  height: calc(100% - 2.8rem);
  overflow: hidden;
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.06rem;
  color: #080808;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.formations-icv .header-djt .btncontact-6qk {
  margin: 1.2rem 2rem 1.6rem 0rem;
  width: 6.2rem;
  height: calc(100% - 2.8rem);
  overflow: hidden;
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.06rem;
  color: #080808;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.formations-icv .header-djt .btncontact-mS6 {
  margin: 1.2rem 0rem 1.6rem 0rem;
  width: 6.9rem;
  height: calc(100% - 2.8rem);
  overflow: hidden;
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.06rem;
  color: #080808;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.formations-icv .auto-group-zrea-chc {
  box-sizing: border-box;
  padding: 5.8rem 6.6rem 3.3rem 6.3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.formations-icv .auto-group-zrea-chc .frame-1-wUz {
  margin: 0rem 0rem 3rem 0.2rem;
  box-sizing: border-box;
  padding: 2.2rem 11.05rem 2.6rem 11.05rem;
  width: 54.2rem;
  height: 10.7rem;
  overflow: hidden;
  position: relative;
  border: solid 0.3rem #000000;
  flex-shrink: 0;
}
.formations-icv .auto-group-zrea-chc .frame-1-wUz .dure-de-la-formation-mthodologie-dapprentissage-32E {
  max-width: 32.1rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.formations-icv .auto-group-zrea-chc .frame-2-uaE {
  margin-right: 0.2rem;
  box-sizing: border-box;
  padding: 1.4rem 0;
  width: 54.2rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.3rem #000000;
  flex-shrink: 0;
}
.formations-icv .auto-group-zrea-chc .frame-2-uaE .auto-group-x9nn-qCz {
  margin-bottom: 1.9rem;
  width: 100%;
  height: 10.9rem;
  display: flex;
  column-gap: 1.6rem;
  align-items: center;
  flex-shrink: 0;
}
.formations-icv .auto-group-zrea-chc .frame-2-uaE .auto-group-x9nn-qCz .group-4-9zN {
  width: 17rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.formations-icv .auto-group-zrea-chc .frame-2-uaE .auto-group-x9nn-qCz .group-4-9zN .auto-group-irhc-i1t {
  margin-bottom: 0.5rem;
  box-sizing: border-box;
  padding: 1.1rem 3.15rem 0.4rem 3.15rem;
  width: 100%;
  height: 7.4rem;
  border: solid 0.2rem #000000;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.formations-icv .auto-group-zrea-chc .frame-2-uaE .auto-group-x9nn-qCz .group-4-9zN .auto-group-irhc-i1t .photo-de-discipline-q6W {
  max-width: 10.7rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.formations-icv .auto-group-zrea-chc .frame-2-uaE .auto-group-x9nn-qCz .group-4-9zN .dev-97C {
  margin-right: 0.0364rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.formations-icv .auto-group-zrea-chc .frame-2-uaE .auto-group-x9nn-qCz .group-4-GSi {
  width: 17rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.formations-icv .auto-group-zrea-chc .frame-2-uaE .auto-group-x9nn-qCz .group-4-GSi .auto-group-fy6v-d2N {
  margin-bottom: 0.5rem;
  box-sizing: border-box;
  padding: 1.1rem 3.15rem 0.4rem 3.15rem;
  width: 100%;
  height: 7.4rem;
  border: solid 0.2rem #000000;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.formations-icv .auto-group-zrea-chc .frame-2-uaE .auto-group-x9nn-qCz .group-4-GSi .auto-group-fy6v-d2N .photo-de-discipline-9Fc {
  max-width: 10.7rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.formations-icv .auto-group-zrea-chc .frame-2-uaE .auto-group-x9nn-qCz .group-4-GSi .electro-47g {
  margin-right: 0.0364rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.formations-icv .auto-group-zrea-chc .frame-2-uaE .auto-group-x9nn-qCz .group-4-z1L {
  width: 17rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.formations-icv .auto-group-zrea-chc .frame-2-uaE .auto-group-x9nn-qCz .group-4-z1L .auto-group-whdq-998 {
  margin-bottom: 0.5rem;
  box-sizing: border-box;
  padding: 1.1rem 3.15rem 0.4rem 3.15rem;
  width: 100%;
  height: 7.4rem;
  border: solid 0.2rem #000000;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.formations-icv .auto-group-zrea-chc .frame-2-uaE .auto-group-x9nn-qCz .group-4-z1L .auto-group-whdq-998 .photo-de-discipline-FT4 {
  max-width: 10.7rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.formations-icv .auto-group-zrea-chc .frame-2-uaE .auto-group-x9nn-qCz .group-4-z1L .ref-dig-8mk {
  margin-right: 0.0364rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.formations-icv .auto-group-zrea-chc .frame-2-uaE .frame-4-TJE {
  margin: 0 3.5rem;
  box-sizing: border-box;
  padding: 0.9rem 7.6rem 0.8rem 7.6rem;
  width: calc(100% - 7rem);
  height: 7.6rem;
  overflow: hidden;
  position: relative;
  border: solid 0.2rem #000000;
  flex-shrink: 0;
}
.formations-icv .auto-group-zrea-chc .frame-2-uaE .frame-4-TJE .comptence-de-la-discipline-slectionner-mZp {
  max-width: 32rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.formations-icv .frame-12-edc {
  margin-bottom: 1.9rem;
  box-sizing: border-box;
  padding: 2.65rem 5.05rem 3rem 5.55rem;
  width: 67.4rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.3rem #000000;
  flex-shrink: 0;
}
.formations-icv .frame-12-edc .notre-quipe-A6A {
  margin: 0rem 0.5rem 1.2rem 0rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.12rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.formations-icv .frame-12-edc .group-4-3ve {
  width: 100%;
  height: 11.55rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.formations-icv .frame-12-edc .group-4-3ve .group-10-CYe {
  margin-right: 3.1rem;
  width: 10.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.formations-icv .frame-12-edc .group-4-3ve .group-10-CYe .auto-group-kxxz-wWE {
  margin: 0rem 1.738rem 0.778rem 1.75rem;
  width: calc(100% - 3.4885rem);
  height: 6.8447rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/logo-UxN.png');
  flex-shrink: 0;
}
.formations-icv .frame-12-edc .group-4-3ve .group-10-CYe .fab-manager-Cwx {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.formations-icv .frame-12-edc .group-4-3ve .group-11-jBC {
  margin-right: 4.4rem;
  width: 11.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.formations-icv .frame-12-edc .group-4-3ve .group-11-jBC .auto-group-tfzq-fqY {
  margin: 0rem 2.238rem 0.805rem 2.25rem;
  width: calc(100% - 4.4885rem);
  height: 6.8447rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/logo-98a.png');
  flex-shrink: 0;
}
.formations-icv .frame-12-edc .group-4-3ve .group-11-jBC .formateur-dveloppement-8z2 {
  max-width: 11.8rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.formations-icv .frame-12-edc .group-4-3ve .group-12-Szi {
  margin-right: 4.5rem;
  width: 10.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.formations-icv .frame-12-edc .group-4-3ve .group-12-Szi .auto-group-uq1c-Pux {
  margin: 0rem 1.538rem 0.805rem 1.55rem;
  width: calc(100% - 3.0885rem);
  height: 6.8447rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/logo-k8N.png');
  flex-shrink: 0;
}
.formations-icv .frame-12-edc .group-4-3ve .group-12-Szi .formateur-lectronique-roY {
  max-width: 10.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.formations-icv .frame-12-edc .group-4-3ve .group-13-N1C {
  width: 11.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.formations-icv .frame-12-edc .group-4-3ve .group-13-N1C .auto-group-9j3u-ump {
  margin: 0rem 2.238rem 0.805rem 2.25rem;
  width: calc(100% - 4.4885rem);
  height: 6.8447rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/logo-JMc.png');
  flex-shrink: 0;
}
.formations-icv .frame-12-edc .group-4-3ve .group-13-N1C .formateur-refrent-digitale-Axe {
  max-width: 11.8rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.formations-icv .frame-12-542 {
  box-sizing: border-box;
  padding: 1.2rem 1.35rem 0.9rem 4.2rem;
  width: 67.5rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.3rem #000000;
  flex-shrink: 0;
}
.formations-icv .frame-12-542 .contact-zgn {
  margin: 0rem 2.05rem 1.2rem 0rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.12rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.formations-icv .frame-12-542 .auto-group-a34a-uYr {
  margin-bottom: 2.6rem;
  width: 100%;
  height: 9.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.formations-icv .frame-12-542 .auto-group-a34a-uYr .group-3-qxJ {
  margin-right: 2.3rem;
  box-sizing: border-box;
  padding: 1.368rem 3.25rem 1.932rem 3.25rem;
  width: 18.7rem;
  height: 100%;
  border: solid 0.2rem #000000;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.formations-icv .frame-12-542 .auto-group-a34a-uYr .group-3-qxJ .formulaire-de-contact-mqx {
  max-width: 12.2rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.formations-icv .frame-12-542 .auto-group-a34a-uYr .localisation-adesseadresse-55x {
  margin: 0rem 4.05rem 0.5rem 0rem;
  max-width: 17.9rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.formations-icv .frame-12-542 .auto-group-a34a-uYr .rseaux-sociaux-mzN {
  margin-bottom: 0.4rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.formations-icv .frame-12-542 .mention-lgale-6Fx {
  margin-right: 3.05rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
