
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 67.5rem;
}.ralisations-gmk {
  box-sizing: border-box;
  padding-bottom: 1.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.ralisations-gmk .header-znS {
  box-sizing: border-box;
  padding: 1.4rem 0.6rem 0.9rem 0.6rem;
  width: 100%;
  height: 7rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.3rem #000000;
  flex-shrink: 0;
}
.ralisations-gmk .header-znS .group-3-JYE {
  margin: 0rem 5.6rem 0.5rem 0rem;
  width: 4.5rem;
  height: 4.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.06rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/logo-bEE.png');
  flex-shrink: 0;
}
.ralisations-gmk .header-znS .btnacceuil-Lzi {
  margin: 1.2rem 2rem 1.6rem 0rem;
  width: 6.5rem;
  height: calc(100% - 2.8rem);
  overflow: hidden;
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.06rem;
  color: #080808;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.ralisations-gmk .header-znS .btnformations-Pi6 {
  margin: 1.2rem 2rem 1.6rem 0rem;
  width: 8.9rem;
  height: calc(100% - 2.8rem);
  overflow: hidden;
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.06rem;
  color: #080808;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.ralisations-gmk .header-znS .btnactuait-FkJ {
  margin: 1.2rem 2rem 1.6rem 0rem;
  width: 8.2rem;
  height: calc(100% - 2.8rem);
  overflow: hidden;
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.06rem;
  color: #080808;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.ralisations-gmk .header-znS .auto-group-qjry-hsC {
  margin: 1.2rem 2rem 0rem 0rem;
  width: 9.5rem;
  height: 3.5rem;
  border-bottom: solid 0.5rem #211ed6;
  box-sizing: border-box;
  flex-shrink: 0;
}
.ralisations-gmk .header-znS .auto-group-qjry-hsC .btnralisation-qCi {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 1.9rem;
  overflow: hidden;
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.06rem;
  color: #080808;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
}
.ralisations-gmk .header-znS .btncontact-sv6 {
  margin: 1.2rem 2rem 1.6rem 0rem;
  width: 6.2rem;
  height: calc(100% - 2.8rem);
  overflow: hidden;
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.06rem;
  color: #080808;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.ralisations-gmk .header-znS .btncontact-LYn {
  margin: 1.2rem 0rem 1.6rem 0rem;
  width: 6.9rem;
  height: calc(100% - 2.8rem);
  overflow: hidden;
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.06rem;
  color: #080808;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr {
  box-sizing: border-box;
  padding: 1rem 0rem 3.4rem 0.1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .auto-group-qm6n-JP8 {
  margin: 0rem 2.4rem 0.9rem 3rem;
  width: calc(100% - 5.4rem);
  height: 5.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .auto-group-qm6n-JP8 .btnacceuil-pMU {
  margin-right: 6.2rem;
  width: 15.9rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.075rem;
  color: #080808;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .auto-group-qm6n-JP8 .btnacceuil-J1k {
  margin-right: 6.9rem;
  box-sizing: border-box;
  padding: 0.65rem 1.9rem 0.95rem 1.9rem;
  width: 16.1rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  border: solid 0.3rem #000000;
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .auto-group-qm6n-JP8 .btnacceuil-J1k .electronique-et-robotique-pEz {
  max-width: 12.3rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  color: #080808;
  font-family: Inter, 'Source Sans Pro';
}
.ralisations-gmk .auto-group-7rse-yLr .auto-group-qm6n-JP8 .btnacceuil-hpa {
  width: 16.9rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  color: #080808;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-9-o6v {
  margin: 0rem 0rem 3.4rem 0.5rem;
  box-sizing: border-box;
  padding: 1.5rem 2.7rem 1.4rem 2rem;
  height: 34.2rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.3rem #000000;
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-9-o6v .auto-group-zewq-Uyk {
  margin: 0.425rem 3.85rem 0.345rem 0rem;
  height: calc(100% - 0.7701rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-9-o6v .auto-group-zewq-Uyk .group-4-Cuk {
  margin: 0rem 0rem 3.03rem 1.05rem;
  width: 17rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-9-o6v .auto-group-zewq-Uyk .group-4-Cuk .auto-group-kwqp-9KC {
  margin-bottom: 0.65rem;
  box-sizing: border-box;
  padding: 1.1rem 2.85rem 0.4rem 3.85rem;
  width: 100%;
  height: 7.4rem;
  border: solid 0.2rem #000000;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-9-o6v .auto-group-zewq-Uyk .group-4-Cuk .auto-group-kwqp-9KC .photo-du-projet-rjQ {
  max-width: 10.3rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.ralisations-gmk .auto-group-7rse-yLr .frame-9-o6v .auto-group-zewq-Uyk .group-4-Cuk .titre-du-projet-Z82 {
  max-width: 9.5rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-9-o6v .auto-group-zewq-Uyk .group-4-giS {
  margin-right: 1.05rem;
  width: 17rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-9-o6v .auto-group-zewq-Uyk .group-4-giS .auto-group-dt3u-ddg {
  margin-bottom: 0.7372rem;
  width: 100%;
  height: 6.9128rem;
  position: relative;
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-9-o6v .auto-group-zewq-Uyk .group-4-giS .auto-group-dt3u-ddg .rectangle-1-ySe {
  width: 17rem;
  height: 6.8134rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-9-o6v .auto-group-zewq-Uyk .group-4-giS .auto-group-dt3u-ddg .photo-du-projet-u5Q {
  width: 10.3rem;
  height: 5.9rem;
  position: absolute;
  left: 3.35rem;
  top: 1.0128rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.ralisations-gmk .auto-group-7rse-yLr .frame-9-o6v .auto-group-zewq-Uyk .group-4-giS .titre-du-projet-Boc {
  max-width: 8.8rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-9-o6v .auto-group-rvhk-ujc {
  margin: 0.3rem 4.9rem 0rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-9-o6v .auto-group-rvhk-ujc .group-4-qdG {
  margin: 0rem 0rem 2.1rem 1.05rem;
  width: 17rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-9-o6v .auto-group-rvhk-ujc .group-4-qdG .auto-group-jq42-a54 {
  margin-bottom: 0.9rem;
  box-sizing: border-box;
  padding: 1.1rem 3.35rem 0.4rem 3.35rem;
  width: 100%;
  height: 7.4rem;
  border: solid 0.2rem #000000;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-9-o6v .auto-group-rvhk-ujc .group-4-qdG .auto-group-jq42-a54 .photo-du-projet-6JJ {
  max-width: 10.3rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.ralisations-gmk .auto-group-7rse-yLr .frame-9-o6v .auto-group-rvhk-ujc .group-4-qdG .titre-du-projet-CcE {
  max-width: 9.5rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-9-o6v .auto-group-rvhk-ujc .group-4-jMG {
  margin-right: 1.05rem;
  width: 17rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-9-o6v .auto-group-rvhk-ujc .group-4-jMG .auto-group-w9kc-5vv {
  margin-bottom: 1.4rem;
  box-sizing: border-box;
  padding: 1.1rem 2.75rem 0.4rem 2.75rem;
  width: 100%;
  height: 7.4rem;
  border: solid 0.2rem #000000;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-9-o6v .auto-group-rvhk-ujc .group-4-jMG .auto-group-w9kc-5vv .photo-de-lactualit-QCW {
  max-width: 11.5rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.ralisations-gmk .auto-group-7rse-yLr .frame-9-o6v .auto-group-rvhk-ujc .group-4-jMG .titre-du-projet-Jog {
  margin-left: 2.8rem;
  max-width: 8.8rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-9-o6v .auto-group-ihav-Dfk {
  margin-bottom: 0.15rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-9-o6v .auto-group-ihav-Dfk .group-4-mxA {
  margin: 0rem 0.35rem 1.95rem 0rem;
  width: 17rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-9-o6v .auto-group-ihav-Dfk .group-4-mxA .auto-group-ac2z-v4N {
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  padding: 1.1rem 3.35rem 0.4rem 3.35rem;
  width: 100%;
  height: 7.4rem;
  border: solid 0.2rem #000000;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-9-o6v .auto-group-ihav-Dfk .group-4-mxA .auto-group-ac2z-v4N .photo-du-projet-Ear {
  max-width: 10.3rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.ralisations-gmk .auto-group-7rse-yLr .frame-9-o6v .auto-group-ihav-Dfk .group-4-mxA .titre-du-projet-xFx {
  max-width: 8.8rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-9-o6v .auto-group-ihav-Dfk .group-4-Hp2 {
  margin-left: 0.35rem;
  width: 17rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-9-o6v .auto-group-ihav-Dfk .group-4-Hp2 .auto-group-urdl-SS2 {
  margin-bottom: 1.1rem;
  box-sizing: border-box;
  padding: 1.1rem 3.35rem 0.4rem 3.35rem;
  width: 100%;
  height: 7.4rem;
  border: solid 0.2rem #000000;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-9-o6v .auto-group-ihav-Dfk .group-4-Hp2 .auto-group-urdl-SS2 .photo-du-projet-Acv {
  max-width: 10.3rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.ralisations-gmk .auto-group-7rse-yLr .frame-9-o6v .auto-group-ihav-Dfk .group-4-Hp2 .titre-du-projet-g5U {
  margin-left: 1.4rem;
  max-width: 8.8rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-5-ZQA {
  box-sizing: border-box;
  padding: 2.65rem 5.05rem 3rem 5.55rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.3rem #000000;
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-5-ZQA .notre-quipe-thL {
  margin: 0rem 0.5rem 1.2rem 0rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.12rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-5-ZQA .group-4-Ci2 {
  width: 100%;
  height: 11.55rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-5-ZQA .group-4-Ci2 .group-10-kUe {
  margin-right: 3.1rem;
  width: 10.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-5-ZQA .group-4-Ci2 .group-10-kUe .auto-group-a4ej-Vh8 {
  margin: 0rem 1.738rem 0.778rem 1.75rem;
  width: calc(100% - 3.4885rem);
  height: 6.8447rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/logo-tAz.png');
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-5-ZQA .group-4-Ci2 .group-10-kUe .fab-manager-kd4 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-5-ZQA .group-4-Ci2 .group-11-5QS {
  margin-right: 4.4rem;
  width: 11.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-5-ZQA .group-4-Ci2 .group-11-5QS .auto-group-ang6-Pvv {
  margin: 0rem 2.238rem 0.805rem 2.25rem;
  width: calc(100% - 4.4885rem);
  height: 6.8447rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/logo-2rr.png');
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-5-ZQA .group-4-Ci2 .group-11-5QS .formateur-dveloppement-f7k {
  max-width: 11.8rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-5-ZQA .group-4-Ci2 .group-12-MmG {
  margin-right: 4.5rem;
  width: 10.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-5-ZQA .group-4-Ci2 .group-12-MmG .auto-group-q7in-6yk {
  margin: 0rem 1.538rem 0.805rem 1.55rem;
  width: calc(100% - 3.0885rem);
  height: 6.8447rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/logo-KBU.png');
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-5-ZQA .group-4-Ci2 .group-12-MmG .formateur-lectronique-ZMY {
  max-width: 10.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-5-ZQA .group-4-Ci2 .group-13-Gmk {
  width: 11.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-5-ZQA .group-4-Ci2 .group-13-Gmk .auto-group-1q8a-2W2 {
  margin: 0rem 2.238rem 0.805rem 2.25rem;
  width: calc(100% - 4.4885rem);
  height: 6.8447rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/logo-oVQ.png');
  flex-shrink: 0;
}
.ralisations-gmk .auto-group-7rse-yLr .frame-5-ZQA .group-4-Ci2 .group-13-Gmk .formateur-refrent-digitale-5jC {
  max-width: 11.8rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.ralisations-gmk .frame-3-AVk {
  width: 100%;
  height: 21.1rem;
  position: relative;
  overflow: hidden;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.ralisations-gmk .frame-3-AVk .group-3-7Qz {
  box-sizing: border-box;
  padding: 1.368rem 3.25rem 1.932rem 3.25rem;
  width: 18.7rem;
  height: 9.2rem;
  position: absolute;
  left: 4.2rem;
  top: 5.4rem;
  border: solid 0.2rem #000000;
  background-color: #d9d9d9;
}
.ralisations-gmk .frame-3-AVk .group-3-7Qz .formulaire-de-contact-Div {
  max-width: 12.2rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.ralisations-gmk .frame-3-AVk .contact-XzW {
  width: 9.9rem;
  height: 3rem;
  position: absolute;
  left: 29.2rem;
  top: 1.2rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.12rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.ralisations-gmk .frame-3-AVk .localisation-adesseadresse-S5t {
  width: 17.9rem;
  height: 5.9rem;
  position: absolute;
  left: 25.2rem;
  top: 6.8rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.ralisations-gmk .frame-3-AVk .rseaux-sociaux-vWr {
  width: 19rem;
  height: 3rem;
  position: absolute;
  left: 47.15rem;
  top: 8.3rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.ralisations-gmk .frame-3-AVk .mention-lgale-cea {
  width: 16.7rem;
  height: 3rem;
  position: absolute;
  left: 25.3rem;
  top: 17.2rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.ralisations-gmk .frame-3-AVk .frame-10-K3C {
  box-sizing: border-box;
  padding: 1.2rem 1.35rem 0.9rem 4.2rem;
  width: 67.5rem;
  height: 21.1rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.3rem #000000;
}
.ralisations-gmk .frame-3-AVk .frame-10-K3C .contact-pEr {
  margin: 0rem 2.05rem 1.2rem 0rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.12rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ralisations-gmk .frame-3-AVk .frame-10-K3C .auto-group-r2ia-KhQ {
  margin-bottom: 2.6rem;
  width: 100%;
  height: 9.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ralisations-gmk .frame-3-AVk .frame-10-K3C .auto-group-r2ia-KhQ .group-3-TYi {
  margin-right: 2.3rem;
  box-sizing: border-box;
  padding: 1.368rem 3.25rem 1.932rem 3.25rem;
  width: 18.7rem;
  height: 100%;
  border: solid 0.2rem #000000;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.ralisations-gmk .frame-3-AVk .frame-10-K3C .auto-group-r2ia-KhQ .group-3-TYi .formulaire-de-contact-PSN {
  max-width: 12.2rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.ralisations-gmk .frame-3-AVk .frame-10-K3C .auto-group-r2ia-KhQ .localisation-adesseadresse-ufc {
  margin: 0rem 4.05rem 0.5rem 0rem;
  max-width: 17.9rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.ralisations-gmk .frame-3-AVk .frame-10-K3C .auto-group-r2ia-KhQ .rseaux-sociaux-1ie {
  margin-bottom: 0.4rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ralisations-gmk .frame-3-AVk .frame-10-K3C .mention-lgale-LW2 {
  margin-right: 3.05rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
