
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 161rem;
}.acceuil-2x6 {
  overflow: hidden;
  position: relative;
  background-image: url('REPLACE_IMAGE:8643e0cbecddc3ac3ae7f77b359eacf4deb8ca98');
  background-position: center;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  .header-PGr {
    width: 100%;
    height: 13.4rem;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.9rem 1.5rem 0rem 2rem;
    overflow: hidden;
    display: flex;

    .fond-decran-fablab-1-iK8 {
      width: 11.4rem;
      height: 12.4rem;
      background-image: url('REPLACE_IMAGE:0f5b260972361ded8fd77e35c636a72c1df2b169');
      flex-shrink: 0;
      margin-right: 32.2rem;
      background-size: 542.665% 483.908%;
      background-position: -21.6886rem -12.3989rem;
      border-radius: 12.75rem;
      position: relative;
    }
    .frame-16-nZt {
      height: calc(100% - 6.7rem);
      position: relative;
      align-items: center;
      margin: 2.4rem 0rem 4.3rem 0rem;
      box-sizing: border-box;
      padding: 0.7rem 0rem 0.7rem 2.7rem;
      overflow: hidden;
      display: flex;
      flex-shrink: 0;

      .btnmenuclick-fta {
        margin: 0.2rem 8.2rem 0.1rem 0rem;
        position: relative;
        color: #fdfdff;
        align-items: center;
        flex-shrink: 0;
        font-size: 2.6rem;
        text-decoration-line: underline;
        white-space: nowrap;
        justify-content: center;
        width: 9.8rem;
        height: calc(100% - 0.3rem);
        font-weight: 400;
        line-height: 1.1725;
        overflow: hidden;
        text-align: center;
        font-family: Roboto Serif, 'Source Sans Pro';
        display: flex;
      }
      .btnmenusimple-j7k {
        justify-content: center;
        cursor: pointer;
        font-size: 2.4rem;
        text-align: center;
        font-weight: 400;
        line-height: 1.1725;
        color: #fdfdff;
        white-space: nowrap;
        margin-right: 5.5rem;
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        font-family: Roboto Serif, 'Source Sans Pro';
        flex-shrink: 0;
        width: 10.5rem;
        overflow: hidden;
      }
      .btnmenusimple-1qx {
        text-align: center;
        font-size: 2.4rem;
        color: #fdfdff;
        font-family: Roboto Serif, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        flex-shrink: 0;
        height: 100%;
        font-weight: 400;
        line-height: 1.1725;
        justify-content: center;
        margin-right: 5.5rem;
        width: 12.9rem;
        position: relative;
        overflow: hidden;
        display: flex;
      }
      .btnmenusimple-7tz {
        align-items: center;
        margin-right: 5.5rem;
        cursor: pointer;
        color: #fdfdff;
        font-family: Roboto Serif, 'Source Sans Pro';
        display: flex;
        white-space: nowrap;
        flex-shrink: 0;
        width: 14.7rem;
        height: 100%;
        overflow: hidden;
        text-align: center;
        font-weight: 400;
        position: relative;
        font-size: 2.4rem;
        line-height: 1.1725;
        justify-content: center;
      }
      .btnmenusimple-DSE {
        height: 100%;
        overflow: hidden;
        line-height: 1.1725;
        position: relative;
        font-size: 2.4rem;
        color: #fdfdff;
        font-family: Roboto Serif, 'Source Sans Pro';
        flex-shrink: 0;
        cursor: pointer;
        text-align: center;
        font-weight: 400;
        white-space: nowrap;
        display: flex;
        margin-right: 5.5rem;
        width: 23.9rem;
        align-items: center;
        justify-content: center;
      }
      .btnmenusimple-83Q {
        height: 100%;
        font-family: Roboto Serif, 'Source Sans Pro';
        align-items: center;
        overflow: hidden;
        position: relative;
        color: #fdfdff;
        flex-shrink: 0;
        width: 9.2rem;
        text-align: center;
        font-size: 2.4rem;
        line-height: 1.1725;
        display: flex;
        cursor: pointer;
        font-weight: 400;
        white-space: nowrap;
        justify-content: center;
      }
    }
  }
  .auto-group-nwrr-1st {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 7.2rem 6.7rem 2.5rem 6.7rem;
    width: 100%;
    align-items: center;
    display: flex;

    .group-12-kKg {
      margin: 0 1.8rem;
      width: calc(100% - 3.6rem);
      height: 54.3rem;
      position: relative;
      flex-shrink: 0;

      .des-dveloppeurs-habilent-et-chevronns-fxS {
        text-align: center;
        height: 3.1rem;
        position: absolute;
        left: 51rem;
        top: 31.3312rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #ffffff;
        width: 41.9rem;
        white-space: nowrap;
        font-family: IM FELL French Canon, 'Source Sans Pro';
      }
      .paragraphe-w9G {
        position: absolute;
        left: 0;
        overflow: hidden;
        height: 54.3rem;
        text-align: center;
        font-weight: 700;
        color: #fdfdff;
        font-family: Roboto Serif, 'Source Sans Pro';
        display: flex;
        top: 0;
        white-space: nowrap;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.0700000003);
        font-size: 6.4rem;
        line-height: 1.1725;
        align-items: center;
        width: 144rem;
      }
    }
    .frame-14-1up {
      align-items: center;
      flex-direction: column;
      border: solid 0 #000000;
      flex-shrink: 0;
      box-sizing: border-box;
      width: 100%;
      position: relative;
      padding: 4.15rem 0.5rem 2.3rem 3.7rem;
      overflow: hidden;
      display: flex;

      .titre-de-section-woU {
        line-height: 1.1725;
        font-family: Roboto Serif, 'Source Sans Pro';
        margin: 0rem 63.5rem 14.05rem 60.3rem;
        text-align: center;
        font-size: 4.8rem;
        overflow: hidden;
        position: relative;
        font-weight: 400;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% - 123.8rem);
        flex-shrink: 0;
        height: 5.7rem;
      }
      .auto-group-2qxe-dAW {
        width: 100%;
        height: 14.4rem;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .auto-group-t9up-NNz {
          box-sizing: border-box;
          padding-top: 6rem;
          width: 79.2rem;
          height: 100%;
          flex-shrink: 0;
          margin-right: 23.1rem;

          .paragraphe-u82 {
            margin-right: 27.6rem;
            width: 51.6rem;
            height: 100%;
            overflow: hidden;
            position: relative;

            .gfvzvzuyvqehvqhbvkhqevh-evfdbhjdhjb-3V8 {
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #fff400;
              font-family: IM FELL French Canon, 'Source Sans Pro';
              max-width: 51.6rem;
            }
          }
        }
        .frame-14-Mki {
          display: flex;
          padding: 1.7rem 0rem 0rem 1.8rem;
          overflow: hidden;
          position: relative;
          column-gap: 6.3rem;
          align-items: flex-end;
          flex-shrink: 0;
          box-sizing: border-box;
          height: 11rem;

          .tlchargement-7-1-5Av {
            width: 9.9rem;
            height: 9.3rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .tlchargement-6-1-1KU {
            width: 7.3rem;
            height: 9.3rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .tlchargement-5-1-wU2 {
            border-radius: 0.5rem;
            flex-shrink: 0;
            width: 9.5rem;
            height: 10.5rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
      }
    }
  }
}
