
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 218.6rem;
}.comptence-Frn {
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 2.9rem 0rem 0rem 3.3rem;
  width: 100%;
  height: 678.9rem;
  overflow: hidden;
  position: relative;

  .propos-NRc {
    flex-direction: column;
    background: linear-gradient(180deg, #075358 -0%, rgba(11, 132, 137, 0.6929487586) 44.5%, rgba(10, 39, 55, 0.3899999857) 89%, #000e10 99.95%, rgba(9, 109, 111, 0.4970045984) 99.96%, rgba(3, 53, 47, 0) 99.97%);
    width: 215.6rem;
    height: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;

    .frame-27-7PC {
      position: relative;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 0.3rem 13.5rem 0rem;
      width: 215.3rem;
      overflow: hidden;

      .auto-group-us9l-qKC {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0rem 0rem 13.9rem 0.6rem;
        width: 100%;
        align-items: center;

        .header-wt2 {
          margin: 0rem 0rem 36.9rem 3rem;
          box-sizing: border-box;
          width: calc(100% - 3rem);
          height: 13.4rem;
          display: flex;
          align-items: center;
          padding: 1.3rem 1.4rem 0rem 5.8rem;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;

          .fond-decran-fablab-1-EcE {
            margin-right: 57.2rem;
            width: 11.4rem;
            position: relative;
            background-size: 542.665% 483.908%;
            background-image: url('REPLACE_IMAGE:0f5b260972361ded8fd77e35c636a72c1df2b169');
            border-radius: 12.75rem;
            height: 12.4rem;
            background-position: -21.6886rem -12.3989rem;
            flex-shrink: 0;
          }
          .frame-16-Vo4 {
            padding: 0.45rem 0rem 0.7rem 2.7rem;
            position: relative;
            display: flex;
            flex-shrink: 0;
            margin: 3rem 0rem 4.3rem 0rem;
            box-sizing: border-box;
            height: calc(100% - 7.3rem);
            overflow: hidden;
            align-items: center;

            .btnmenuclick-zUv {
              position: relative;
              flex-shrink: 0;
              margin: 0rem 6.5rem 0.55rem 0rem;
              width: 9.8rem;
              height: 3.1rem;
              overflow: hidden;
            }
            .btnmenusimple-ubt {
              height: 3.4rem;
              overflow: hidden;
              font-family: Roboto Serif, 'Source Sans Pro';
              align-items: center;
              flex-shrink: 0;
              width: 8.7rem;
              cursor: pointer;
              font-weight: 400;
              line-height: 1.1725;
              color: #fdfdff;
              white-space: nowrap;
              justify-content: center;
              margin: 0.25rem 6rem 0rem 0rem;
              position: relative;
              text-align: center;
              font-size: 2.4rem;
              display: flex;
            }
            .btnmenusimple-B3c {
              height: 3.4rem;
              position: relative;
              color: #fdfdff;
              flex-shrink: 0;
              margin: 0.25rem 6rem 0rem 0rem;
              font-size: 2.4rem;
              white-space: nowrap;
              font-family: Roboto Serif, 'Source Sans Pro';
              align-items: center;
              width: 10.5rem;
              cursor: pointer;
              text-align: center;
              font-weight: 400;
              line-height: 1.1725;
              overflow: hidden;
              display: flex;
              justify-content: center;
            }
            .btnmenusimple-T18 {
              overflow: hidden;
              align-items: center;
              white-space: nowrap;
              display: flex;
              width: 12.9rem;
              position: relative;
              font-size: 2.4rem;
              font-weight: 400;
              color: #fdfdff;
              font-family: Roboto Serif, 'Source Sans Pro';
              justify-content: center;
              margin: 0.25rem 8.45rem 0rem 0rem;
              height: 3.4rem;
              text-align: center;
              line-height: 1.1725;
              flex-shrink: 0;
            }
            .btnmenuclick-vfQ {
              height: 3.1rem;
              flex-shrink: 0;
              font-family: Roboto Serif, 'Source Sans Pro';
              margin: 0.35rem 8.45rem 0rem 0rem;
              width: 16.8rem;
              overflow: hidden;
              position: relative;
              text-align: center;
              line-height: 1.1725;
              text-decoration-line: underline;
              color: #fdfdff;
              display: flex;
              font-size: 2.6rem;
              font-weight: 400;
              white-space: nowrap;
              align-items: center;
              justify-content: center;
            }
            .btnmenusimple-bmY {
              line-height: 1.1725;
              font-family: Roboto Serif, 'Source Sans Pro';
              white-space: nowrap;
              overflow: hidden;
              font-size: 2.4rem;
              cursor: pointer;
              position: relative;
              font-weight: 400;
              color: #fdfdff;
              align-items: center;
              flex-shrink: 0;
              margin: 0.25rem 6rem 0rem 0rem;
              width: 23.9rem;
              display: flex;
              justify-content: center;
              height: 3.4rem;
              text-align: center;
            }
            .btnmenusimple-syx {
              width: 9.2rem;
              display: flex;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.1725;
              margin-top: 0.25rem;
              cursor: pointer;
              position: relative;
              font-family: Roboto Serif, 'Source Sans Pro';
              white-space: nowrap;
              align-items: center;
              justify-content: center;
              height: 3.4rem;
              overflow: hidden;
              color: #fdfdff;
              text-align: center;
              flex-shrink: 0;
            }
          }
        }
        .titre-de-section-Zrn {
          overflow: hidden;
          color: #ffffff;
          align-items: center;
          width: calc(100% - 91.2rem);
          position: relative;
          justify-content: center;
          height: 9.4rem;
          text-align: center;
          font-size: 4.8rem;
          font-weight: 400;
          display: flex;
          flex-shrink: 0;
          margin: 0rem 45.9rem 15.9rem 45.3rem;
          line-height: 1.1725;
          font-family: Roboto Serif, 'Source Sans Pro';
          white-space: nowrap;
          border: solid 0.2rem #000000;
          box-sizing: border-box;
        }
        .frame-19-qZQ {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 25.8rem 21.5rem 24.6rem;
          width: calc(100% - 50.4rem);
          height: 49.1rem;
          overflow: hidden;
          position: relative;

          .paragraphe-MXk {
            width: 80.9rem;
            overflow: hidden;
            position: relative;
            border: solid 0.2rem #000000;
            margin-right: 2.6rem;
            box-sizing: border-box;
            padding-top: 13.35rem;
            height: 100%;
            flex-shrink: 0;

            .gfvzvzuyvqehvqhbvkhqevh-evfdbhjdhjb-HRQ {
              max-width: 80.7rem;
              font-size: 4.8rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #ffffff;
              font-family: IM FELL French Canon, 'Source Sans Pro';
            }
          }
          .image-1-yJE {
            width: 80.8rem;
            height: 49.1rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 7.7rem;
            flex-shrink: 0;
          }
        }
        .frame-20-hk2 {
          width: calc(100% - 47.8rem);
          overflow: hidden;
          position: relative;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 25.8rem 13rem 22rem;

          .titre-de-section-EV4 {
            padding: 0 9.05rem;
            width: 100%;
            height: 22.3rem;
            position: relative;
            border: solid 0.2rem #000000;
            margin-bottom: 6.7rem;
            box-sizing: border-box;
            overflow: hidden;
            flex-shrink: 0;

            .titre-de-section-xvr {
              max-width: 148.8rem;
              text-align: center;
              font-size: 9.6rem;
              font-weight: 400;
              line-height: 1.1725;
              color: #ffffff;
              font-family: Roboto Serif, 'Source Sans Pro';
            }
          }
          .image-2-g6A {
            background-size: 99.153% 98.665%;
            background-position: 0.9567rem -0.0006rem;
            background-image: url('REPLACE_IMAGE:245adbb50d1bc29fe7e82b38f80f7529bdb22457');
            flex-shrink: 0;
            margin-left: 0.1rem;
            width: 113rem;
            height: 22.8rem;
            position: relative;
          }
        }
        .group-7-m7c {
          margin: 0rem 2.1rem 16.589rem 0rem;
          width: 212.6rem;
          height: 112.6112rem;
          position: relative;
          flex-shrink: 0;

          .group-6-69t {
            width: 212.6rem;
            height: 110.9663rem;
            position: absolute;
            left: 0;
            top: 0;
            box-sizing: border-box;
            padding: 2.4rem 0rem 1.271rem 0rem;

            .frame-23-cP8 {
              flex-direction: column;
              margin-bottom: 12.1rem;
              width: 195.5rem;
              overflow: hidden;
              position: relative;
              align-items: flex-end;
              display: flex;

              .titre-de-section-Xkz {
                box-sizing: border-box;
                padding: 0.8rem 18.45rem 0rem 18.45rem;
                height: 24rem;
                overflow: hidden;
                position: relative;
                border: solid 0.2rem #000000;
                flex-shrink: 0;
                margin: 0rem 0rem 9.4rem 14.5rem;

                .titre-de-section-EvJ {
                  font-family: Roboto Serif, 'Source Sans Pro';
                  max-width: 134.1rem;
                  text-align: center;
                  font-size: 9.6rem;
                  font-weight: 400;
                  line-height: 1.1725;
                  color: #ffffff;
                }
              }
              .auto-group-phst-ZSn {
                width: 100%;
                height: 9.4rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .titre-de-section-JQN {
                  font-size: 4.8rem;
                  font-weight: 400;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;
                  margin-right: 90.1rem;
                  position: relative;
                  line-height: 1.1725;
                  border: solid 0.2rem #000000;
                  box-sizing: border-box;
                  width: 73.9rem;
                  height: 100%;
                  text-align: center;
                  color: #19aff0;
                  white-space: nowrap;
                  overflow: hidden;
                  font-family: Roboto Serif, 'Source Sans Pro';
                  justify-content: center;
                }
                .titre-de-section-BUA {
                  justify-content: center;
                  display: flex;
                  position: relative;
                  align-items: center;
                  flex-shrink: 0;
                  overflow: hidden;
                  font-size: 4.8rem;
                  color: #19aff0;
                  font-family: Roboto Serif, 'Source Sans Pro';
                  white-space: nowrap;
                  box-sizing: border-box;
                  width: 31.5rem;
                  text-align: center;
                  font-weight: 400;
                  line-height: 1.1725;
                  border: solid 0.2rem #000000;
                  height: 100%;
                }
              }
            }
            .image-3-GVc {
              vertical-align: top;
              border-radius: 7.6rem;
              margin-left: 2.7rem;
              width: 67.6407rem;
              height: 52.395rem;
              object-fit: cover;
            }
          }
          .image-4-yup {
            height: 55.3112rem;
            position: relative;
            left: 114.2143rem;
            background-position: 0.7845rem 10.4012rem;
            background-image: url('REPLACE_IMAGE:9329df3d71206ef7db87997c77a8c3eb8a7f106f');
            width: 95.5857rem;
            top: 57.3rem;
            background-size: 97.645% 68.942%;
            border-radius: 22.7rem;
          }
        }
        .frame-24-rTp {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 28.6rem 19.2rem 34.8rem;
          width: calc(100% - 63.4rem);
          overflow: hidden;
          position: relative;
          align-items: center;

          .paragraphe-PCr {
            width: 100%;
            overflow: hidden;
            color: #ffffff;
            font-family: IM FELL French Canon, 'Source Sans Pro';
            padding: 0 11.25rem;
            position: relative;
            font-size: 6.4rem;
            border: solid 0.2rem #000000;
            flex-shrink: 0;
            margin-bottom: 14.4rem;
            text-align: center;
            font-weight: 400;
            box-sizing: border-box;
            height: 7.5rem;
            line-height: 1.2575;
            white-space: nowrap;
          }
          .frame-22-i8e {
            margin: 0rem 5.2rem 0rem 2.9rem;
            width: calc(100% - 8.1rem);
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .image-5-dWW {
              height: 29.8rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 8rem;
              flex-shrink: 0;
              margin: 1.4rem 56rem 0rem 0rem;
              width: 48.3rem;
            }
            .image-6-wXC {
              width: 38.9rem;
              height: 38.9rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .frame-25-gDt {
          box-sizing: border-box;
          width: 213.9rem;
          align-items: center;
          display: flex;
          flex-shrink: 0;
          margin-right: 0.6rem;
          overflow: hidden;
          position: relative;
          flex-direction: column;
          padding-bottom: 3rem;

          .paragraphe-Ci2 {
            box-sizing: border-box;
            padding: 0 1.15rem;
            height: 11.2rem;
            position: relative;
            text-align: center;
            font-size: 9.6rem;
            font-family: IM FELL French Canon, 'Source Sans Pro';
            width: calc(100% - 73.8rem);
            font-weight: 400;
            line-height: 1.2575;
            white-space: nowrap;
            flex-shrink: 0;
            overflow: hidden;
            color: #ffffff;
            margin: 0rem 41.5rem 20.8rem 32.3rem;
            border: solid 0.2rem #000000;
          }
          .image-7-rna {
            width: 215.3rem;
            height: 30.8rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .frame-26-oC2 {
        display: flex;
        flex-direction: column;
        padding: 6.1rem 0rem 9.5rem 2.2rem;
        overflow: hidden;
        align-items: center;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 9.3rem;
        box-sizing: border-box;
        width: 100%;

        .paragraphe-Ws8 {
          width: 213.5rem;
          position: relative;
          border: solid 0.2rem #000000;
          flex-shrink: 0;
          margin-bottom: 13.9rem;
          box-sizing: border-box;
          padding: 0 4.7rem;
          height: 22.4rem;
          overflow: hidden;

          .gfvzvzuyvqehvqhbvkhqevh-evfdbhjdhjb-T1g {
            font-weight: 400;
            line-height: 1.2575;
            color: #ffffff;
            font-family: IM FELL French Canon, 'Source Sans Pro';
            max-width: 204.1rem;
            text-align: center;
            font-size: 9.6rem;
          }
        }
        .image-8-YYv {
          margin-right: 1.7rem;
          width: 163.4rem;
          height: 32.9rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .paragraphe-fdY {
        margin: 0rem 1.7rem 0rem 2.2rem;
        width: calc(100% - 3.9rem);
        border: solid 0.2rem #000000;
        box-sizing: border-box;
        padding: 5.2rem 7.65rem 0rem 7.65rem;
        height: 32.8rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;

        .gfvzvzuyvqehvqhbvkhqevh-evfdbhjdhjb-mga {
          line-height: 1.2575;
          color: #ffffff;
          font-family: IM FELL French Canon, 'Source Sans Pro';
          max-width: 196.1rem;
          text-align: center;
          font-size: 9.6rem;
          font-weight: 400;
        }
      }
    }
    .frame-19-gHk {
      width: calc(100% - 68rem);
      position: relative;
      align-items: flex-end;
      flex-shrink: 0;
      margin: 0rem 34.1rem 0rem 33.9rem;
      padding: 0.35rem 0.5rem 0.35rem 3.7rem;
      height: 35.9rem;
      overflow: hidden;
      display: flex;
      border: solid 0 #000000;
      box-sizing: border-box;

      .paragraphe-y1x {
        margin: 0rem 8.7rem 1.05rem 0rem;
        height: 8.4rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;

        .gfvzvzuyvqehvqhbvkhqevh-evfdbhjdhjb-W1t {
          font-weight: 400;
          line-height: 1.2575;
          color: #fff400;
          font-family: IM FELL French Canon, 'Source Sans Pro';
          max-width: 51.6rem;
          font-size: 3.6rem;
        }
      }
      .titre-de-section-R8r {
        height: 5.7rem;
        text-align: center;
        font-size: 4.8rem;
        font-weight: 400;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        margin: 0rem 22.4rem 29.5rem 0rem;
        overflow: hidden;
        line-height: 1.1725;
        font-family: Roboto Serif, 'Source Sans Pro';
        align-items: center;
        flex-shrink: 0;
        width: 19.6rem;
        position: relative;
        justify-content: center;
      }
      .frame-14-JCe {
        position: relative;
        flex-shrink: 0;
        margin-bottom: 1.05rem;
        box-sizing: border-box;
        padding: 1.7rem 0rem 0rem 1.8rem;
        height: 11rem;
        overflow: hidden;
        display: flex;
        column-gap: 6.3rem;
        align-items: flex-end;

        .tlchargement-7-1-PUz {
          width: 9.9rem;
          height: 9.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tlchargement-6-1-KdY {
          flex-shrink: 0;
          width: 7.3rem;
          height: 9.3rem;
          object-fit: cover;
          vertical-align: top;
        }
        .tlchargement-5-1-rdU {
          height: 10.5rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          flex-shrink: 0;
          width: 9.5rem;
        }
      }
    }
  }
}
