
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 171rem;
}.foramtion-certificat-FsC {
  width: 100%;
  height: 160.1rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;

  .formation-PyQ {
    padding: 2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: dashed 0.1rem #9747ff;
    box-sizing: border-box;
    height: 482.9rem;
    position: relative;
    align-items: center;
    border-radius: 0.5rem;
    width: 100%;

    .property-1certificat-KMG {
      position: relative;
      background: linear-gradient(180deg, rgba(2, 118, 111, 0.9599999785) 2.67%, rgba(106, 112, 114, 0.7200000286) 100%);
      margin-bottom: 2rem;
      width: 100%;
      overflow: hidden;
      flex-shrink: 0;
      align-items: center;
      display: flex;
      flex-direction: column;

      .header-TiN {
        display: flex;
        align-items: center;
        overflow: hidden;
        padding: 1.3rem 2.4rem 0rem 5.8rem;
        width: 100%;
        height: 13.4rem;
        position: relative;
        flex-shrink: 0;
        box-sizing: border-box;

        .fond-decran-fablab-1-myx {
          height: 12.4rem;
          position: relative;
          background-size: 542.665% 483.908%;
          background-image: url('REPLACE_IMAGE:0f5b260972361ded8fd77e35c636a72c1df2b169');
          border-radius: 12.75rem;
          margin-right: 5.5rem;
          background-position: -21.6886rem -12.3989rem;
          flex-shrink: 0;
          width: 11.4rem;
        }
        .frame-16-3Rg {
          box-sizing: border-box;
          height: calc(100% - 7.3rem);
          display: flex;
          flex-shrink: 0;
          margin: 3rem 0rem 4.3rem 0rem;
          overflow: hidden;
          position: relative;
          align-items: center;
          padding: 0.45rem 0rem 0.7rem 2.7rem;

          .btnmenuclick-vkN {
            position: relative;
            flex-shrink: 0;
            margin: 0rem 6rem 0.55rem 0rem;
            width: 9.8rem;
            height: 3.1rem;
            overflow: hidden;
          }
          .btnmenusimple-FGr {
            font-size: 2.4rem;
            margin: 0.25rem 5.5rem 0rem 0rem;
            height: 3.4rem;
            position: relative;
            display: flex;
            align-items: center;
            cursor: pointer;
            text-align: center;
            color: #fdfdff;
            white-space: nowrap;
            justify-content: center;
            flex-shrink: 0;
            overflow: hidden;
            line-height: 1.1725;
            font-family: Roboto Serif, 'Source Sans Pro';
            width: 8.7rem;
            font-weight: 400;
          }
          .btnmenusimple-v86 {
            margin: 0.25rem 5.5rem 0rem 0rem;
            color: #fdfdff;
            display: flex;
            flex-shrink: 0;
            overflow: hidden;
            text-align: center;
            font-size: 2.4rem;
            line-height: 1.1725;
            font-family: Roboto Serif, 'Source Sans Pro';
            align-items: center;
            width: 10.5rem;
            height: 3.4rem;
            font-weight: 400;
            white-space: nowrap;
            cursor: pointer;
            position: relative;
            justify-content: center;
          }
          .btnmenusimple-oBt {
            margin: 0.25rem 5.5rem 0rem 0rem;
            width: 17.1rem;
            overflow: hidden;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 400;
            color: #fdfdff;
            white-space: nowrap;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            font-family: Roboto Serif, 'Source Sans Pro';
            height: 3.4rem;
            position: relative;
            line-height: 1.1725;
            display: flex;
          }
          .btnmenusimple-Uop {
            width: 14.7rem;
            overflow: hidden;
            display: flex;
            align-items: center;
            white-space: nowrap;
            justify-content: center;
            cursor: pointer;
            position: relative;
            color: #fdfdff;
            font-family: Roboto Serif, 'Source Sans Pro';
            margin: 0.25rem 7.3rem 0rem 0rem;
            line-height: 1.1725;
            flex-shrink: 0;
            height: 3.4rem;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 400;
          }
          .btnmenuclick-USS {
            display: flex;
            justify-content: center;
            position: relative;
            text-align: center;
            overflow: hidden;
            font-family: Roboto Serif, 'Source Sans Pro';
            align-items: center;
            flex-shrink: 0;
            width: 32.1rem;
            height: 3.1rem;
            font-weight: 400;
            line-height: 1.1725;
            text-decoration-line: underline;
            margin: 0.35rem 7.3rem 0rem 0rem;
            font-size: 2.6rem;
            color: #fdfdff;
            white-space: nowrap;
          }
          .btnmenusimple-LjY {
            align-items: center;
            flex-shrink: 0;
            line-height: 1.1725;
            color: #fdfdff;
            font-family: Roboto Serif, 'Source Sans Pro';
            white-space: nowrap;
            margin-top: 0.25rem;
            text-align: center;
            display: flex;
            justify-content: center;
            width: 9.2rem;
            overflow: hidden;
            font-size: 2.4rem;
            font-weight: 400;
            height: 3.4rem;
            cursor: pointer;
            position: relative;
          }
        }
      }
      .auto-group-lkj4-zZC {
        box-sizing: border-box;
        padding: 22.8rem 4.2rem 0rem 4.4rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-njmy-K5g {
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 2.7rem;
          width: 100%;
          display: flex;
          column-gap: 23.6rem;

          .tlcharger-4-1-rLW {
            background-size: 100.418% 124.896%;
            background-position: -0rem 0;
            background-image: url('REPLACE_IMAGE:dea1f7601d9a2f28019348a543cc0e3e8ce75150');
            flex-shrink: 0;
            width: 32.6rem;
            height: 24.1rem;
            position: relative;
          }
          .tlcharger-1-1-kRt {
            width: 37.2rem;
            height: 24.1rem;
            position: relative;
            background-size: 106.72% 119.502%;
            background-position: -2.5rem 0.7rem;
            background-image: url('REPLACE_IMAGE:35965ffafa0eee3bcbcee42adabc7d13a142aba3');
            flex-shrink: 0;
          }
          .oip-1-enA {
            position: relative;
            background-size: 100% 98.34%;
            background-position: 0 0.3rem;
            background-image: url('REPLACE_IMAGE:f9b7fe854a5bac17740ba09133f81f0b33c86682');
            flex-shrink: 0;
            width: 41.4rem;
            height: 24.1rem;
          }
        }
        .auto-group-p2rs-Z8S {
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 4.2rem 8.5rem 0rem;
          height: 5.6rem;
          display: flex;
          column-gap: 34rem;

          .paragraphe-GYe {
            box-sizing: border-box;
            padding: 0 0.35rem;
            height: 100%;
            overflow: hidden;
            position: relative;
            border: solid 0.2rem #000000;
            flex-shrink: 0;

            .gfvzvzuyvqehvqhbvkhqevh-evfdbhjdhjb-paA {
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #ffffff;
              font-family: IM FELL French Canon, 'Source Sans Pro';
              max-width: 27.1rem;
              text-align: center;
            }
          }
          .paragraphe-XDg {
            border: solid 0.2rem #000000;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0 0.35rem;
            height: 100%;
            overflow: hidden;
            position: relative;

            .gfvzvzuyvqehvqhbvkhqevh-evfdbhjdhjb-sHY {
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #ffffff;
              font-family: IM FELL French Canon, 'Source Sans Pro';
              max-width: 27.1rem;
              text-align: center;
            }
          }
          .paragraphe-ybU {
            height: 100%;
            overflow: hidden;
            position: relative;
            border: solid 0.2rem #000000;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0 0.35rem;

            .gfvzvzuyvqehvqhbvkhqevh-evfdbhjdhjb-LS2 {
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #ffffff;
              font-family: IM FELL French Canon, 'Source Sans Pro';
              max-width: 27.1rem;
              text-align: center;
            }
          }
        }
        .auto-group-cvs2-SV4 {
          margin-bottom: 5rem;
          width: 100%;
          display: flex;
          column-gap: 23.6rem;
          align-items: center;
          flex-shrink: 0;

          .tlcharger-1-mGS {
            background-size: 110.748% 98.776%;
            background-position: -0rem 0.3355rem;
            background-image: url('REPLACE_IMAGE:cf39db3aec09e6228e74f86afe74e28d8bc7745c');
            flex-shrink: 0;
            width: 32.6rem;
            height: 27.4rem;
            position: relative;
          }
          .th-1-1-rog {
            width: 37.2rem;
            height: 27.4rem;
            position: relative;
            background-size: 111.138% 110.949%;
            background-position: -0rem 0;
            background-image: url('REPLACE_IMAGE:ff5a32827921063fdb62a169111153fae72b9114');
            flex-shrink: 0;
          }
          .tlcharg-1-aDt {
            flex-shrink: 0;
            width: 41.4rem;
            height: 27.4rem;
            position: relative;
            background-size: 72.947% 81.863%;
            background-position: 11.2rem 4.701rem;
            background-image: url('REPLACE_IMAGE:403c0873d954eafa39a159cd2312b67cfd17ee9d');
          }
        }
        .auto-group-gqyz-sTt {
          margin: 0rem 4.55rem 6.8rem 0rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .paragraphe-14J {
            overflow: hidden;
            position: relative;
            border: solid 0.2rem #000000;
            flex-shrink: 0;
            margin-right: 34.35rem;
            box-sizing: border-box;
            padding: 0 0.35rem;
            height: 5.6rem;

            .gfvzvzuyvqehvqhbvkhqevh-evfdbhjdhjb-jkz {
              font-weight: 400;
              line-height: 1.2575;
              color: #ffffff;
              font-family: IM FELL French Canon, 'Source Sans Pro';
              max-width: 27.1rem;
              text-align: center;
              font-size: 2.4rem;
            }
          }
          .gfvzvzuyvqehvqhbvkhqevh-evfdbhjdhjb-rKp {
            max-width: 27.1rem;
            color: #ffffff;
            font-family: IM FELL French Canon, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 34.7rem;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2575;
          }
          .gfvzvzuyvqehvqhbvkhqevh-evfdbhjdhjb-9pi {
            max-width: 27.1rem;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #ffffff;
            font-family: IM FELL French Canon, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .frame-19-gJr {
          height: 35.9rem;
          position: relative;
          align-items: flex-end;
          flex-shrink: 0;
          border: solid 0 #000000;
          margin: 0rem 5.5rem 0rem 5.3rem;
          box-sizing: border-box;
          padding: 0.35rem 0.5rem 0.35rem 3.7rem;
          width: calc(100% - 10.8rem);
          overflow: hidden;
          display: flex;

          .paragraphe-mLJ {
            margin: 0rem 8.7rem 1.05rem 0rem;
            height: 8.4rem;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;

            .gfvzvzuyvqehvqhbvkhqevh-evfdbhjdhjb-6dU {
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #fff400;
              font-family: IM FELL French Canon, 'Source Sans Pro';
              max-width: 51.6rem;
            }
          }
          .titre-de-section-R9x {
            text-align: center;
            display: flex;
            font-size: 4.8rem;
            line-height: 1.1725;
            white-space: nowrap;
            margin: 0rem 22.4rem 29.5rem 0rem;
            height: 5.7rem;
            position: relative;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            width: 19.6rem;
            overflow: hidden;
            font-weight: 400;
            color: #ffffff;
            font-family: Roboto Serif, 'Source Sans Pro';
          }
          .frame-14-6Wz {
            flex-shrink: 0;
            display: flex;
            column-gap: 6.3rem;
            align-items: flex-end;
            height: 11rem;
            overflow: hidden;
            position: relative;
            margin-bottom: 1.05rem;
            box-sizing: border-box;
            padding: 1.7rem 0rem 0rem 1.8rem;

            .tlchargement-7-1-bie {
              width: 9.9rem;
              height: 9.3rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .tlchargement-6-1-LAS {
              width: 7.3rem;
              height: 9.3rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .tlchargement-5-1-Gpn {
              width: 9.5rem;
              height: 10.5rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 0.5rem;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .property-1variant2-XEv {
      margin-bottom: 160.2rem;
      width: 100%;
      overflow: hidden;
      position: relative;
      background: linear-gradient(180deg, #075358 -0%, rgba(11, 132, 137, 0.6929487586) 44.5%, rgba(10, 39, 55, 0.3899999857) 89%, #000e10 99.95%, rgba(9, 109, 111, 0.4970045984) 99.96%, rgba(3, 53, 47, 0) 99.97%);
      flex-shrink: 0;

      .header-51Y {
        box-sizing: border-box;
        padding: 1.3rem 2.4rem 0rem 5.8rem;
        width: 100%;
        height: 13.4rem;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;

        .fond-decran-fablab-1-bVg {
          background-position: -21.6886rem -12.3989rem;
          border-radius: 12.75rem;
          margin-right: 5.5rem;
          width: 11.4rem;
          background-size: 542.665% 483.908%;
          background-image: url('REPLACE_IMAGE:0f5b260972361ded8fd77e35c636a72c1df2b169');
          flex-shrink: 0;
          height: 12.4rem;
          position: relative;
        }
        .frame-16-g1L {
          position: relative;
          align-items: center;
          box-sizing: border-box;
          padding: 0.45rem 0rem 0.7rem 2.7rem;
          overflow: hidden;
          display: flex;
          flex-shrink: 0;
          margin: 3rem 0rem 4.3rem 0rem;
          height: calc(100% - 7.3rem);

          .btnmenuclick-MtA {
            height: 3.1rem;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;
            margin: 0rem 6rem 0.55rem 0rem;
            width: 9.8rem;
          }
          .btnmenusimple-gfY {
            text-align: center;
            justify-content: center;
            width: 8.7rem;
            overflow: hidden;
            position: relative;
            font-weight: 400;
            line-height: 1.1725;
            font-family: Roboto Serif, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            margin: 0.25rem 5.5rem 0rem 0rem;
            height: 3.4rem;
            font-size: 2.4rem;
            color: #fdfdff;
            display: flex;
            flex-shrink: 0;
          }
          .btnmenusimple-ZzE {
            position: relative;
            text-align: center;
            font-weight: 400;
            font-family: Roboto Serif, 'Source Sans Pro';
            align-items: center;
            flex-shrink: 0;
            overflow: hidden;
            color: #fdfdff;
            white-space: nowrap;
            display: flex;
            justify-content: center;
            width: 10.5rem;
            line-height: 1.1725;
            height: 3.4rem;
            font-size: 2.4rem;
            margin: 0.25rem 5.5rem 0rem 0rem;
          }
          .btnmenusimple-TZp {
            font-family: Roboto Serif, 'Source Sans Pro';
            display: flex;
            margin: 0.25rem 5.5rem 0rem 0rem;
            text-align: center;
            font-weight: 400;
            color: #fdfdff;
            overflow: hidden;
            line-height: 1.1725;
            width: 17.1rem;
            height: 3.4rem;
            font-size: 2.4rem;
            justify-content: center;
            position: relative;
            white-space: nowrap;
            align-items: center;
            flex-shrink: 0;
          }
          .btnmenusimple-LtW {
            font-family: Roboto Serif, 'Source Sans Pro';
            justify-content: center;
            line-height: 1.1725;
            font-size: 2.4rem;
            color: #fdfdff;
            white-space: nowrap;
            text-align: center;
            flex-shrink: 0;
            position: relative;
            width: 14.7rem;
            height: 3.4rem;
            overflow: hidden;
            font-weight: 400;
            display: flex;
            align-items: center;
            margin: 0.25rem 7.3rem 0rem 0rem;
          }
          .btnmenuclick-Rux {
            margin: 0.35rem 7.3rem 0rem 0rem;
            text-align: center;
            text-decoration-line: underline;
            justify-content: center;
            height: 3.1rem;
            font-size: 2.6rem;
            color: #fdfdff;
            flex-shrink: 0;
            display: flex;
            width: 32.1rem;
            overflow: hidden;
            position: relative;
            line-height: 1.1725;
            white-space: nowrap;
            font-weight: 400;
            font-family: Roboto Serif, 'Source Sans Pro';
            align-items: center;
          }
          .btnmenusimple-Vup {
            margin-top: 0.25rem;
            width: 9.2rem;
            color: #fdfdff;
            font-weight: 400;
            line-height: 1.1725;
            font-family: Roboto Serif, 'Source Sans Pro';
            align-items: center;
            text-align: center;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            height: 3.4rem;
            overflow: hidden;
            position: relative;
            font-size: 2.4rem;
            white-space: nowrap;
          }
        }
      }
    }
    .property-1variant3-Gp6 {
      position: relative;
      align-items: center;
      display: flex;
      flex-direction: column;
      background: linear-gradient(180deg, rgba(2, 118, 111, 0.9599999785) 2.67%, rgba(106, 112, 114, 0.7200000286) 100%);
      flex-shrink: 0;
      width: 100%;
      overflow: hidden;

      .header-RS6 {
        padding: 1.3rem 2.4rem 0rem 5.8rem;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: 13.4rem;
        flex-shrink: 0;
        width: 100%;

        .fond-decran-fablab-1-M4r {
          height: 12.4rem;
          position: relative;
          background-size: 542.665% 483.908%;
          flex-shrink: 0;
          margin-right: 5.5rem;
          width: 11.4rem;
          background-position: -21.6886rem -12.3989rem;
          background-image: url('REPLACE_IMAGE:0f5b260972361ded8fd77e35c636a72c1df2b169');
          border-radius: 12.75rem;
        }
        .frame-16-pDL {
          padding: 0.45rem 0rem 0.7rem 2.7rem;
          height: calc(100% - 7.3rem);
          flex-shrink: 0;
          margin: 3rem 0rem 4.3rem 0rem;
          box-sizing: border-box;
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: center;

          .btnmenuclick-v1U {
            margin: 0rem 6rem 0.55rem 0rem;
            width: 9.8rem;
            height: 3.1rem;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;
          }
          .btnmenusimple-Enr {
            justify-content: center;
            flex-shrink: 0;
            text-align: center;
            font-size: 2.4rem;
            color: #fdfdff;
            align-items: center;
            white-space: nowrap;
            margin: 0.25rem 5.5rem 0rem 0rem;
            cursor: pointer;
            position: relative;
            font-family: Roboto Serif, 'Source Sans Pro';
            display: flex;
            width: 8.7rem;
            height: 3.4rem;
            font-weight: 400;
            line-height: 1.1725;
            overflow: hidden;
          }
          .btnmenusimple-iT8 {
            height: 3.4rem;
            line-height: 1.1725;
            white-space: nowrap;
            display: flex;
            justify-content: center;
            margin: 0.25rem 5.5rem 0rem 0rem;
            width: 10.5rem;
            overflow: hidden;
            font-weight: 400;
            align-items: center;
            cursor: pointer;
            position: relative;
            font-size: 2.4rem;
            color: #fdfdff;
            font-family: Roboto Serif, 'Source Sans Pro';
            text-align: center;
            flex-shrink: 0;
          }
          .btnmenusimple-oUa {
            margin: 0.25rem 5.5rem 0rem 0rem;
            justify-content: center;
            overflow: hidden;
            font-weight: 400;
            color: #fdfdff;
            font-family: Roboto Serif, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            position: relative;
            text-align: center;
            font-size: 2.4rem;
            line-height: 1.1725;
            display: flex;
            flex-shrink: 0;
            width: 17.1rem;
            height: 3.4rem;
          }
          .btnmenusimple-Hee {
            text-align: center;
            display: flex;
            line-height: 1.1725;
            font-family: Roboto Serif, 'Source Sans Pro';
            align-items: center;
            margin: 0.25rem 7.3rem 0rem 0rem;
            height: 3.4rem;
            cursor: pointer;
            position: relative;
            font-weight: 400;
            width: 14.7rem;
            font-size: 2.4rem;
            white-space: nowrap;
            overflow: hidden;
            color: #fdfdff;
            justify-content: center;
            flex-shrink: 0;
          }
          .btnmenuclick-mJv {
            flex-shrink: 0;
            width: 32.1rem;
            font-weight: 400;
            font-family: Roboto Serif, 'Source Sans Pro';
            font-size: 2.6rem;
            margin: 0.35rem 7.3rem 0rem 0rem;
            position: relative;
            text-align: center;
            white-space: nowrap;
            justify-content: center;
            height: 3.1rem;
            line-height: 1.1725;
            color: #fdfdff;
            align-items: center;
            overflow: hidden;
            text-decoration-line: underline;
            display: flex;
          }
          .btnmenusimple-438 {
            margin-top: 0.25rem;
            cursor: pointer;
            position: relative;
            font-weight: 400;
            line-height: 1.1725;
            color: #fdfdff;
            font-family: Roboto Serif, 'Source Sans Pro';
            display: flex;
            align-items: center;
            width: 9.2rem;
            font-size: 2.4rem;
            height: 3.4rem;
            overflow: hidden;
            white-space: nowrap;
            justify-content: center;
            flex-shrink: 0;
            text-align: center;
          }
        }
      }
      .auto-group-q37t-XSW {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 22.8rem 4.1rem 0rem 4.4rem;
        width: 100%;

        .auto-group-p6ai-eX8 {
          flex-shrink: 0;
          margin: 0rem 0.1rem 2.7rem 0rem;
          display: flex;
          column-gap: 23.6rem;
          align-items: center;

          .tlcharger-4-1-B1G {
            background-size: 100.418% 124.896%;
            background-position: -0rem 0;
            background-image: url('REPLACE_IMAGE:dea1f7601d9a2f28019348a543cc0e3e8ce75150');
            flex-shrink: 0;
            width: 32.6rem;
            height: 24.1rem;
            position: relative;
          }
          .tlcharger-1-1-Um4 {
            background-size: 106.72% 119.502%;
            background-position: -2.5rem 0.7rem;
            background-image: url('REPLACE_IMAGE:35965ffafa0eee3bcbcee42adabc7d13a142aba3');
            flex-shrink: 0;
            width: 37.2rem;
            height: 24.1rem;
            position: relative;
          }
          .oip-1-BfU {
            width: 41.4rem;
            height: 24.1rem;
            position: relative;
            background-size: 100% 98.34%;
            background-position: 0 0.3rem;
            background-image: url('REPLACE_IMAGE:f9b7fe854a5bac17740ba09133f81f0b33c86682');
            flex-shrink: 0;
          }
        }
        .auto-group-wnpe-tpn {
          display: flex;
          column-gap: 34rem;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 4.3rem 8.5rem 0rem;
          height: 5.6rem;

          .paragraphe-cVt {
            box-sizing: border-box;
            position: relative;
            color: #ffffff;
            white-space: nowrap;
            line-height: 1.2575;
            font-family: IM FELL French Canon, 'Source Sans Pro';
            width: 27.8rem;
            text-align: center;
            font-weight: 400;
            border: solid 0.2rem #000000;
            flex-shrink: 0;
            height: 100%;
            overflow: hidden;
            font-size: 2.4rem;
          }
          .paragraphe-tiJ {
            overflow: hidden;
            text-align: center;
            font-weight: 400;
            line-height: 1.2575;
            white-space: nowrap;
            color: #ffffff;
            flex-shrink: 0;
            height: 100%;
            font-size: 2.4rem;
            font-family: IM FELL French Canon, 'Source Sans Pro';
            border: solid 0.2rem #000000;
            box-sizing: border-box;
            width: 27.8rem;
            position: relative;
          }
          .paragraphe-yze {
            overflow: hidden;
            line-height: 1.2575;
            color: #ffffff;
            white-space: nowrap;
            border: solid 0.2rem #000000;
            width: 27.8rem;
            font-size: 2.4rem;
            font-weight: 400;
            font-family: IM FELL French Canon, 'Source Sans Pro';
            box-sizing: border-box;
            height: 100%;
            position: relative;
            text-align: center;
            flex-shrink: 0;
          }
        }
        .auto-group-et6a-UwQ {
          column-gap: 23.6rem;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 0.1rem 5rem 0rem;
          display: flex;

          .tlcharger-1-oCz {
            background-position: -0rem 0.3355rem;
            background-image: url('REPLACE_IMAGE:cf39db3aec09e6228e74f86afe74e28d8bc7745c');
            flex-shrink: 0;
            width: 32.6rem;
            height: 27.4rem;
            position: relative;
            background-size: 110.748% 98.776%;
          }
          .th-1-1-JfY {
            flex-shrink: 0;
            width: 37.2rem;
            height: 27.4rem;
            position: relative;
            background-size: 111.138% 110.949%;
            background-position: -0rem 0;
            background-image: url('REPLACE_IMAGE:ff5a32827921063fdb62a169111153fae72b9114');
          }
          .tlcharg-1-QyU {
            background-size: 72.947% 81.863%;
            background-position: 11.2rem 4.701rem;
            background-image: url('REPLACE_IMAGE:403c0873d954eafa39a159cd2312b67cfd17ee9d');
            flex-shrink: 0;
            width: 41.4rem;
            height: 27.4rem;
            position: relative;
          }
        }
        .auto-group-sbrn-7cz {
          margin: 0rem 0rem 7.3rem 1.4rem;
          height: 5.6rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .paragraphe-e78 {
            width: 27.8rem;
            line-height: 1.2575;
            white-space: nowrap;
            border: solid 0.2rem #000000;
            flex-shrink: 0;
            color: #ffffff;
            height: 100%;
            overflow: hidden;
            text-align: center;
            font-size: 2.4rem;
            font-family: IM FELL French Canon, 'Source Sans Pro';
            box-sizing: border-box;
            margin-right: 28.3rem;
            position: relative;
            font-weight: 400;
          }
          .gfvzvzuyvqehvqhbvkhqevh-evfdbhjdhjb-Xwc {
            margin-right: 22.6rem;
            color: #ffffff;
            font-family: IM FELL French Canon, 'Source Sans Pro';
            white-space: nowrap;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2575;
            flex-shrink: 0;
          }
          .gfvzvzuyvqehvqhbvkhqevh-evfdbhjdhjb-emL {
            color: #ffffff;
            font-family: IM FELL French Canon, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2575;
          }
        }
        .frame-19-a9C {
          padding: 0.35rem 0.5rem 0.35rem 3.7rem;
          width: calc(100% - 10.9rem);
          position: relative;
          flex-shrink: 0;
          margin: 0rem 5.6rem 0rem 5.3rem;
          box-sizing: border-box;
          display: flex;
          align-items: flex-end;
          border: solid 0 #000000;
          height: 35.9rem;
          overflow: hidden;

          .paragraphe-qqp {
            font-size: 3.6rem;
            font-weight: 400;
            margin: 0rem 8.7rem 1.05rem 0rem;
            position: relative;
            line-height: 1.2575;
            color: #fff400;
            font-family: IM FELL French Canon, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            width: 51.6rem;
            overflow: hidden;
          }
          .titre-de-section-Lna {
            width: 19.6rem;
            overflow: hidden;
            text-align: center;
            font-size: 4.8rem;
            flex-shrink: 0;
            position: relative;
            display: flex;
            justify-content: center;
            height: 5.7rem;
            font-family: Roboto Serif, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            margin: 0rem 22.4rem 29.5rem 0rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #ffffff;
          }
          .frame-14-pSr {
            padding: 1.7rem 0rem 0rem 1.8rem;
            overflow: hidden;
            margin-bottom: 1.05rem;
            box-sizing: border-box;
            position: relative;
            display: flex;
            column-gap: 6.3rem;
            align-items: flex-end;
            flex-shrink: 0;

            .tlchargement-7-1-KuQ {
              width: 9.9rem;
              height: 9.3rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .tlchargement-6-1-ruL {
              width: 7.3rem;
              height: 9.3rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .tlchargement-5-1-zEr {
              border-radius: 0.5rem;
              flex-shrink: 0;
              width: 9.5rem;
              height: 10.5rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
        }
      }
    }
  }
}
