
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 160.8rem;
}.propos-mxA {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #075358 -0%, rgba(11, 132, 137, 0.6929487586) 44.5%, rgba(10, 39, 55, 0.3899999857) 89%, #000e10 99.95%, rgba(9, 109, 111, 0.4970045984) 99.96%, rgba(3, 53, 47, 0) 99.97%);
  width: 100%;
  overflow: hidden;

  .header-vKG {
    box-sizing: border-box;
    padding: 1.3rem 2.8rem 0rem 5.8rem;
    width: 100%;
    height: 13.4rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 18.5rem;
    flex-shrink: 0;

    .fond-decran-fablab-1-RWv {
      position: relative;
      background-size: 542.665% 483.908%;
      border-radius: 12.75rem;
      flex-shrink: 0;
      width: 11.4rem;
      height: 12.4rem;
      background-position: -21.6886rem -12.3989rem;
      background-image: url('REPLACE_IMAGE:0f5b260972361ded8fd77e35c636a72c1df2b169');
      margin-right: 26.7rem;
    }
    .frame-16-tQW {
      box-sizing: border-box;
      padding: 0.7rem 0;
      position: relative;
      flex-shrink: 0;
      margin: 3rem 0rem 4.3rem 0rem;
      height: calc(100% - 7.3rem);
      overflow: hidden;
      display: flex;
      align-items: center;

      .btnmenusimple-o1g {
        width: 8.7rem;
        position: relative;
        font-weight: 400;
        line-height: 1.1725;
        margin-right: 8.15rem;
        font-size: 2.4rem;
        height: 100%;
        text-align: center;
        justify-content: center;
        flex-shrink: 0;
        overflow: hidden;
        color: #fdfdff;
        font-family: Roboto Serif, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
      .btnmenuclick-U7p {
        width: 11.9rem;
        font-weight: 400;
        font-family: Roboto Serif, 'Source Sans Pro';
        justify-content: center;
        overflow: hidden;
        text-align: center;
        font-size: 2.6rem;
        display: flex;
        margin: 0.2rem 8.15rem 0.1rem 0rem;
        height: calc(100% - 0.3rem);
        line-height: 1.1725;
        color: #fdfdff;
        flex-shrink: 0;
        position: relative;
        text-decoration-line: underline;
        white-space: nowrap;
        align-items: center;
      }
      .btnmenusimple-LA2 {
        width: 12.9rem;
        font-size: 2.4rem;
        line-height: 1.1725;
        overflow: hidden;
        display: flex;
        justify-content: center;
        flex-shrink: 0;
        margin-right: 5.5rem;
        font-weight: 400;
        align-items: center;
        height: 100%;
        position: relative;
        text-align: center;
        color: #fdfdff;
        font-family: Roboto Serif, 'Source Sans Pro';
        white-space: nowrap;
      }
      .btnmenusimple-EWJ {
        font-family: Roboto Serif, 'Source Sans Pro';
        align-items: center;
        width: 14.7rem;
        text-align: center;
        font-size: 2.4rem;
        white-space: nowrap;
        display: flex;
        height: 100%;
        position: relative;
        font-weight: 400;
        margin-right: 5.5rem;
        flex-shrink: 0;
        color: #fdfdff;
        justify-content: center;
        cursor: pointer;
        overflow: hidden;
        line-height: 1.1725;
      }
      .btnmenusimple-w9p {
        text-align: center;
        white-space: nowrap;
        justify-content: center;
        cursor: pointer;
        overflow: hidden;
        font-weight: 400;
        font-family: Roboto Serif, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 5.5rem;
        height: 100%;
        color: #fdfdff;
        display: flex;
        font-size: 2.4rem;
        line-height: 1.1725;
        align-items: center;
        width: 23.9rem;
        position: relative;
      }
      .btnmenusimple-3Cr {
        text-align: center;
        line-height: 1.1725;
        font-family: Roboto Serif, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        width: 9.2rem;
        position: relative;
        display: flex;
        flex-shrink: 0;
        overflow: hidden;
        font-size: 2.4rem;
        font-weight: 400;
        color: #fdfdff;
        justify-content: center;
        height: 100%;
        cursor: pointer;
      }
    }
  }
  .frame-17-7yQ {
    display: flex;
    margin-bottom: 6.2rem;
    padding-right: 3.8rem;
    width: 100%;
    height: 59.7rem;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-m3pa-eCe {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 2.8rem 3.8rem 0rem 0rem;
      width: 103.5rem;
      align-items: center;

      .auto-group-9n14-NPY {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 17.1rem 2.8rem 5.8rem;
        width: calc(100% - 22.9rem);
        height: 9.4rem;

        .paragraphe-gf8 {
          flex-shrink: 0;
          margin-right: 9.5rem;
          overflow: hidden;
          position: relative;
          display: flex;
          height: 100%;
          white-space: nowrap;
          align-items: center;
          box-sizing: border-box;
          width: 32.7rem;
          text-align: center;
          color: #ffffff;
          justify-content: center;
          border: solid 0.2rem #000000;
          font-size: 4.8rem;
          font-weight: 400;
          line-height: 1.2575;
          font-family: IM FELL French Canon, 'Source Sans Pro';
        }
        .titre-de-section-AaJ {
          width: 38.4rem;
          position: relative;
          font-family: Roboto Serif, 'Source Sans Pro';
          box-sizing: border-box;
          font-weight: 400;
          align-items: center;
          justify-content: center;
          border: solid 0.2rem #000000;
          white-space: nowrap;
          display: flex;
          flex-shrink: 0;
          height: 100%;
          text-align: center;
          font-size: 4.8rem;
          color: #1fbbff;
          overflow: hidden;
          line-height: 1.1725;
        }
      }
      .auto-group-dh82-TZQ {
        width: 100%;
        height: 66.9925rem;
        position: relative;
        flex-shrink: 0;

        .paragraphe-158 {
          left: 0;
          top: 0;
          overflow: hidden;
          border: solid 0.2rem #cfb3b3;
          box-sizing: border-box;
          width: 103.5rem;
          height: 44.2rem;
          position: absolute;
        }
        .jeune-designer-ui-ux-passionn-du-design-mobile-du-dveloppement-web-et-application-mobile-mais-aussi-pdg-de-la-jordanbrel-corporation-Kbc {
          font-weight: 400;
          line-height: 1.2575;
          color: #fff400;
          text-align: center;
          height: 62.3rem;
          position: absolute;
          left: 3.3095rem;
          top: 4.6925rem;
          font-size: 5.5rem;
          font-family: IM FELL French Canon, 'Source Sans Pro';
          width: 98.5rem;
        }
      }
    }
    .c17cc67f5e6810524f38e963b2af821b-1-A6S {
      flex-shrink: 0;
      width: 49.7rem;
      height: 59.2rem;
      position: relative;
      background-size: 103.827% 128.07%;
      background-position: 0.1049rem -6.8929rem;
      background-image: url('REPLACE_IMAGE:6cba11940dca3fbbbac37ae889925454e0face9d');
      border-radius: 5.8rem 0 0 5.8rem;
    }
  }
  .frame-15-RYA {
    box-sizing: border-box;
    position: relative;
    align-items: flex-end;
    flex-shrink: 0;
    margin: 0 6.6rem;
    padding: 4.15rem 0.5rem 2.3rem 3.7rem;
    width: calc(100% - 13.2rem);
    overflow: hidden;
    display: flex;
    border: solid 0 #000000;

    .paragraphe-Lf8 {
      margin-right: 8.7rem;
      height: 8.4rem;
      overflow: hidden;
      position: relative;
      flex-shrink: 0;

      .gfvzvzuyvqehvqhbvkhqevh-evfdbhjdhjb-HqG {
        line-height: 1.2575;
        color: #fff400;
        font-family: IM FELL French Canon, 'Source Sans Pro';
        max-width: 51.6rem;
        font-size: 3.6rem;
        font-weight: 400;
      }
    }
    .titre-de-section-Qut {
      display: flex;
      height: 5.7rem;
      overflow: hidden;
      position: relative;
      line-height: 1.1725;
      text-align: center;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 22.4rem 28.45rem 0rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Roboto Serif, 'Source Sans Pro';
      width: 19.6rem;
      font-size: 4.8rem;
      align-items: center;
      justify-content: center;
    }
    .frame-14-g6i {
      box-sizing: border-box;
      padding: 1.7rem 0rem 0rem 1.8rem;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: flex-end;
      height: 11rem;
      column-gap: 6.3rem;
      flex-shrink: 0;

      .tlchargement-7-1-zdC {
        width: 9.9rem;
        height: 9.3rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .tlchargement-6-1-WrS {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 7.3rem;
        height: 9.3rem;
      }
      .tlchargement-5-1-dw4 {
        width: 9.5rem;
        height: 10.5rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.5rem;
        flex-shrink: 0;
      }
    }
  }
}
