
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 18.8rem;
}.logo-x38 {
  width: 100%;
  height: 20.1rem;
}
.logo-x38 .fond-decran-fablab-1-7gi {
  width: 18.8rem;
  height: 20.1rem;
  position: relative;
  background-size: 503.367% 234.542%;
  background-position: -39.2621rem -12.4471rem;
  background-image: url('../assets/fond-decran-fablab-1-w1x.png');
  border-radius: 12.75rem;
}
