 .frame-17-7yQ {
    margin-bottom: 6.2rem;
    box-sizing: border-box;
    padding-right: 3.8rem;
    width: 100%;
    height: 59.7rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    border: 2px solid rgb(25, 0, 255);
  }
 .frame-17-7yQ .auto-group-m3pa-eCe {
    margin: 2.8rem 3.8rem 0rem 0rem;
    width: 103.5rem;
    border: 2px solid green;
  }
 .frame-17-7yQ .auto-group-m3pa-eCe .auto-group-9n14-NPY {
    width: calc(100% - 22.9rem);
    display: flex;
    margin: 2.8rem 3.8rem 0rem 0rem;
    align-items: center;
    border: 2px solid rgb(255, 14, 243);
  }
 .frame-17-7yQ .auto-group-m3pa-eCe .auto-group-9n14-NPY .paragraphe-gf8 {
    text-align: center;
    font-size: 4.8rem;
    font-weight: 400;
    color: #fbff00;
    font-family: IM FELL French Canon, 'Source Sans Pro';
    border: 2px solid rgb(0, 183, 255);
  }
 .frame-17-7yQ .auto-group-m3pa-eCe .auto-group-9n14-NPY .titre-de-section-AaJ {
    width: 38.4rem;
    text-align: center;
    font-size: 4.8rem;
    font-weight: 400;
    color: #1fbbff;
    font-family: Roboto Serif, 'Source Sans Pro';
    border: 2px solid rgb(194, 22, 22);
  }
 .frame-17-7yQ .auto-group-m3pa-eCe .auto-group-dh82-TZQ {
    width: 100%;
    height: 45rem;
    position: relative;
    border: 2px solid rgb(0, 140, 255);
  }
 .frame-17-7yQ .auto-group-m3pa-eCe .auto-group-dh82-TZQ .paragraphe-158 {
   
    border: 2px solid rgb(255, 12, 12);
  }
 .frame-17-7yQ .auto-group-m3pa-eCe .auto-group-dh82-TZQ .jeune-designer-ui-ux-passionn-du-design-mobile-du-dveloppement-web-et-application-mobile-mais-aussi-pdg-de-la-jordanbrel-corporation-Kbc {
    position: absolute;
    text-align: center;
    font-size: 5.5rem;
    font-weight: 200;
    color: #fff400;
    font-family: IM FELL French Canon, 'Source Sans Pro';
    border: 2px solid rgb(38, 0, 255);
  }
 .frame-17-7yQ .c17cc67f5e6810524f38e963b2af821b-1-A6S {
    width: 40rem;
    height: 59rem;
   
    background-size: 103.827% 128.07%;
    background-position: 0.1049rem -6.8929rem;
    background-image: url('../images/jordan.png');
    border-radius: 5.8rem 0 0 5.8rem;
    flex-shrink: 0;
    border: 2px solid rgb(0, 255, 221);
 }