 .contact {
     width: 100%;
 }

 .contact-text {
     text-align: center;
     font-size: 4.8rem;
     font-weight: 400;
     color: #ffffff;
     font-family: Roboto Serif, 'Source Sans Pro';
     align-items: center;
     display: flex;
     flex-direction: column;
     margin-top: 2%;
 }

 .reseaux-sociaux {
     margin-top: 7%;
     margin-left: 25%;
     height: 70px;
     width: 50%;
     display: flex;
     justify-content: space-between;
 }

 .gmail {
     margin-top: 7%;
     margin-right: 10%;
     height: 47%;
     width: 100%;
 }

 .appel {
     margin-top: 7%;
     margin-right: 10%;
     height: 50%;
     width: 100%;
 }

 .linkdln {
     margin-top: 7%;
     margin-right: 10%;
     height: 50%;
     width: 100%;
 }

 .whatsapp {
     margin-top: 7%;
     margin-right: 10%;
     height: 50%;
     width: 100%;
 }

 .facebook {
     margin-top: 7%;
     margin-right: 10%;
     height: 50%;
     width: 100%;
 }