

  header{
    border: 2px solid white;
  
 
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  body{
    background-image: url('../images/acceuil-bg.png');
    width: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }