.menu-header{
  border: 2px solid black; 
 width: 100%;
margin-left: 30%;
  

  
 
}

.menu-bouton{

  padding: 2px;
  font-size: 1.1rem;
  text-decoration: none;
  color: #1d1d22;
  font-family: Roboto Serif, 'Source Sans Pro';
  cursor: pointer;
  text-align: left;
  margin: 2%; 
}






.auto-group-nwrr-1st {
   
  flex-direction: column;
}
.auto-group-nwrr-1st .group-12-kKg {
  border: 2px solid black;
  justify-content: center;
}
.auto-group-nwrr-1st .group-12-kKg .des-dveloppeurs-habilent-et-chevronns-fxS {

  text-align: center;
  color: #ffffff;
  font-family: IM FELL French Canon, 'Source Sans Pro';

  border: 2px solid blue;
}
.auto-group-nwrr-1st .group-12-kKg .paragraphe-w9G {
  text-align: center;
  font-weight: 700;
  color: #fdfdff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(21, 19, 19, 0.07);
  border: 2px solid red;
}





.auto-group-nwrr-1st .frame-14-1up {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0 #000000;
  flex-shrink: 0;
}
.auto-group-nwrr-1st .frame-14-1up .titre-de-section-woU {
  margin: 0rem 63.5rem 14.05rem 60.3rem;
  width: calc(100% - 123.8rem);
  height: 5.7rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.auto-group-nwrr-1st .frame-14-1up .auto-group-2qxe-dAW {
  width: 100%;
  height: 14.4rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.auto-group-nwrr-1st .frame-14-1up .auto-group-2qxe-dAW .auto-group-t9up-NNz {
  margin-right: 23.1rem;
  box-sizing: border-box;
  padding-top: 6rem;
  width: 79.2rem;
  height: 100%;
  flex-shrink: 0;
}
.auto-group-nwrr-1st .frame-14-1up .auto-group-2qxe-dAW .auto-group-t9up-NNz .paragraphe-u82 {
  margin-right: 27.6rem;
  width: 51.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.auto-group-nwrr-1st .frame-14-1up .auto-group-2qxe-dAW .auto-group-t9up-NNz .paragraphe-u82 .gfvzvzuyvqehvqhbvkhqevh-evfdbhjdhjb-3V8 {
  max-width: 51.6rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #fff400;
  font-family: IM FELL French Canon, 'Source Sans Pro';
}
.auto-group-nwrr-1st .frame-14-1up .auto-group-2qxe-dAW .frame-14-Mki {
  box-sizing: border-box;
  padding: 1.7rem 0rem 0rem 1.8rem;
  height: 11rem;
  overflow: hidden;
  position: relative;
  display: flex;
  column-gap: 6.3rem;
  align-items: flex-end;
  flex-shrink: 0;
}
.auto-group-nwrr-1st .frame-14-1up .auto-group-2qxe-dAW .frame-14-Mki .tlchargement-7-1-5Av {
  width: 9.9rem;
  height: 9.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.auto-group-nwrr-1st .frame-14-1up .auto-group-2qxe-dAW .frame-14-Mki .tlchargement-6-1-1KU {
  width: 7.3rem;
  height: 9.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.auto-group-nwrr-1st .frame-14-1up .auto-group-2qxe-dAW .frame-14-Mki .tlchargement-5-1-wU2 {
  width: 9.5rem;
  height: 10.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
