.menu{
  margin-top: 50px;
  border: 2px solid rgb(56, 22, 247);
}

.menu-header{
  width: 100%;
  margin-left: 30%;
  border: 2px solid black;
}

.menu-bouton{
  padding: 2px;
  font-size: 1.1rem;
  text-decoration: none;
  color: #1d1d22;
  font-family: Roboto Serif, 'Source Sans Pro';
  cursor: pointer;
  text-align: left;
  margin: 2%; 
  border: 2px solid rgb(247, 1, 1);
}
