
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 67.5rem;
}.actualits-WhC {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .header-Sqk {
    margin-bottom: 7.2rem;
    padding: 1.4rem 0.6rem 0.9rem 0.6rem;
    width: 100%;
    display: flex;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 7rem;
    overflow: hidden;
    position: relative;
    align-items: center;
    border: solid 0.3rem #000000;

    .group-3-LRL {
      width: 4.5rem;
      height: 4.2rem;
      font-size: 1.2rem;
      line-height: 1.2125;
      letter-spacing: 0.06rem;
      margin: 0rem 5.6rem 0.5rem 0rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-position: center;
      color: #000000;
      justify-content: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:3:59');
      flex-shrink: 0;
      font-weight: 400;
      display: flex;
      align-items: center;
    }
    .btnacceuil-n2S {
      margin: 1.2rem 2rem 1.6rem 0rem;
      position: relative;
      justify-content: center;
      flex-shrink: 0;
      font-weight: 400;
      line-height: 1.2125;
      color: #080808;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      box-sizing: border-box;
      height: calc(100% - 2.8rem);
      overflow: hidden;
      letter-spacing: 0.06rem;
      display: flex;
      align-items: center;
      border: solid 0.3rem #000000;
      width: 6.5rem;
      font-size: 1.2rem;
    }
    .btnformations-pUv {
      width: 8.9rem;
      height: calc(100% - 2.8rem);
      overflow: hidden;
      box-sizing: border-box;
      border: solid 0.3rem #000000;
      line-height: 1.2125;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      font-family: Inter, 'Source Sans Pro';
      margin: 1.2rem 2rem 1.6rem 0rem;
      font-size: 1.2rem;
      letter-spacing: 0.06rem;
      color: #080808;
      position: relative;
      font-weight: 400;
      align-items: center;
      flex-shrink: 0;
    }
    .auto-group-uafg-fkS {
      box-sizing: border-box;
      flex-shrink: 0;
      margin: 1.2rem 2rem 0rem 0rem;
      width: 8.2rem;
      height: 3.5rem;
      border-bottom: solid 0.5rem #211ed6;

      .btnactuait-nq4 {
        white-space: nowrap;
        justify-content: center;
        height: 1.9rem;
        letter-spacing: 0.06rem;
        font-size: 1.2rem;
        font-weight: 400;
        display: flex;
        border: solid 0.3rem #000000;
        box-sizing: border-box;
        margin-bottom: 1.6rem;
        overflow: hidden;
        align-items: center;
        width: 100%;
        font-family: Inter, 'Source Sans Pro';
        color: #080808;
        position: relative;
        line-height: 1.2125;
      }
    }
    .btnralisation-Sei {
      overflow: hidden;
      font-weight: 400;
      line-height: 1.2125;
      justify-content: center;
      font-size: 1.2rem;
      color: #080808;
      margin: 1.2rem 2rem 1.6rem 0rem;
      width: 9.5rem;
      height: calc(100% - 2.8rem);
      position: relative;
      letter-spacing: 0.06rem;
      white-space: nowrap;
      box-sizing: border-box;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      align-items: center;
      border: solid 0.3rem #000000;
      flex-shrink: 0;
    }
    .btncontact-5hg {
      overflow: hidden;
      justify-content: center;
      flex-shrink: 0;
      font-size: 1.2rem;
      font-weight: 400;
      letter-spacing: 0.06rem;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      box-sizing: border-box;
      margin: 1.2rem 2rem 1.6rem 0rem;
      height: calc(100% - 2.8rem);
      line-height: 1.2125;
      color: #080808;
      align-items: center;
      border: solid 0.3rem #000000;
      width: 6.2rem;
      position: relative;
      white-space: nowrap;
    }
    .btncontact-M9Q {
      position: relative;
      font-weight: 400;
      line-height: 1.2125;
      letter-spacing: 0.06rem;
      margin: 1.2rem 0rem 1.6rem 0rem;
      overflow: hidden;
      justify-content: center;
      border: solid 0.3rem #000000;
      width: 6.9rem;
      color: #080808;
      align-items: center;
      flex-shrink: 0;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      white-space: nowrap;
      box-sizing: border-box;
      height: calc(100% - 2.8rem);
      font-size: 1.2rem;
    }
  }
  .frame-10-on6 {
    border: solid 0.3rem #000000;
    height: 34.2rem;
    align-items: center;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.5rem 3rem 1.4rem 2.3rem;

    .auto-group-zhdq-iu4 {
      margin: 0.425rem 3.85rem 0.345rem 0rem;
      height: calc(100% - 0.7701rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .group-4-Sq4 {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 0rem 3.03rem 1.05rem;
        width: 17rem;

        .auto-group-kogs-xoQ {
          border: solid 0.2rem #000000;
          background-color: #d9d9d9;
          flex-shrink: 0;
          margin-bottom: 0.65rem;
          box-sizing: border-box;
          padding: 1.1rem 2.25rem 0.4rem 3.25rem;
          width: 100%;
          height: 7.4rem;

          .photo-de-lactualit-UWr {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            max-width: 11.5rem;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 400;
          }
        }
        .titre-de-lactualit-Z2W {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 10.6rem;
          text-align: center;
          font-size: 2.4rem;
          font-weight: 400;
        }
      }
      .group-4-Ghc {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 1.05rem;
        width: 17rem;
        align-items: center;

        .auto-group-k7h8-DMx {
          margin-bottom: 0.7372rem;
          width: 100%;
          height: 6.9128rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-1-MUA {
            background-color: #d9d9d9;
            width: 17rem;
            height: 6.8134rem;
            position: absolute;
            left: 0;
            top: 0;
            border: solid 0.2rem #000000;
            box-sizing: border-box;
          }
          .photo-de-lactualit-Gr2 {
            width: 11.5rem;
            font-size: 2.4rem;
            font-weight: 400;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            height: 5.9rem;
            position: absolute;
            left: 2.75rem;
            top: 1.0128rem;
            text-align: center;
            line-height: 1.2125;
          }
        }
        .titre-de-lactualit-YHk {
          text-align: center;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 10.6rem;
        }
      }
    }
    .auto-group-zsjq-4G6 {
      margin: 0.3rem 4.9rem 0rem 0rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .group-4-BrW {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 0rem 2.1rem 1.05rem;
        width: 17rem;
        align-items: center;
        display: flex;

        .auto-group-ba9c-X9g {
          border: solid 0.2rem #000000;
          background-color: #d9d9d9;
          flex-shrink: 0;
          margin-bottom: 0.9rem;
          box-sizing: border-box;
          padding: 1.1rem 2.75rem 0.4rem 2.75rem;
          width: 100%;
          height: 7.4rem;

          .photo-de-lactualit-qw4 {
            text-align: center;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            max-width: 11.5rem;
          }
        }
        .titre-de-lactualit-ACe {
          max-width: 10.6rem;
          text-align: center;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .group-4-UDL {
        margin-right: 1.05rem;
        width: 17rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-4eqn-DAv {
          height: 7.4rem;
          border: solid 0.2rem #000000;
          background-color: #d9d9d9;
          flex-shrink: 0;
          margin-bottom: 1.4rem;
          box-sizing: border-box;
          padding: 1.1rem 2.75rem 0.4rem 2.75rem;
          width: 100%;

          .photo-de-lactualit-LFY {
            max-width: 11.5rem;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .titre-de-lactualit-39x {
          flex-shrink: 0;
          margin-left: 2.8rem;
          max-width: 10.6rem;
          font-size: 2.4rem;
          font-family: Inter, 'Source Sans Pro';
          text-align: center;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
        }
      }
    }
    .auto-group-ya38-Luk {
      margin-bottom: 0.15rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .group-4-JLn {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 0.35rem 1.95rem 0rem;
        width: 17rem;
        align-items: center;
        display: flex;

        .auto-group-z4pq-SSz {
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          box-sizing: border-box;
          padding: 1.1rem 2.75rem 0.4rem 2.75rem;
          width: 100%;
          height: 7.4rem;
          border: solid 0.2rem #000000;
          background-color: #d9d9d9;

          .photo-de-lactualit-xw8 {
            text-align: center;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            max-width: 11.5rem;
          }
        }
        .titre-de-lactualit-soC {
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 10.6rem;
          text-align: center;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
        }
      }
      .group-4-owk {
        width: 17rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-left: 0.35rem;

        .auto-group-vamk-A1c {
          box-sizing: border-box;
          padding: 1.1rem 2.75rem 0.4rem 2.75rem;
          width: 100%;
          height: 7.4rem;
          border: solid 0.2rem #000000;
          background-color: #d9d9d9;
          flex-shrink: 0;
          margin-bottom: 1.1rem;

          .photo-de-lactualit-5PU {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            max-width: 11.5rem;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 400;
          }
        }
        .titre-de-lactualit-BhQ {
          font-size: 2.4rem;
          font-weight: 400;
          color: #000000;
          margin-left: 1.4rem;
          max-width: 10.6rem;
          text-align: center;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
    }
  }
  .auto-group-fkot-Tup {
    padding: 3.4rem 0rem 1.7rem 0rem;
    width: 100%;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .frame-10-bm8 {
      display: flex;
      flex-shrink: 0;
      width: 67.4rem;
      align-items: center;
      padding: 2.65rem 5.05rem 3rem 5.55rem;
      overflow: hidden;
      position: relative;
      flex-direction: column;
      border: solid 0.3rem #000000;
      margin-bottom: 3.4rem;
      box-sizing: border-box;

      .notre-quipe-7Ua {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0.5rem 1.2rem 0rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        letter-spacing: 0.12rem;
        text-align: center;
        color: #000000;
        flex-shrink: 0;
      }
      .group-4-cRL {
        width: 100%;
        height: 11.55rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .group-10-m3L {
          flex-shrink: 0;
          margin-right: 3.1rem;
          width: 10.8rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-vxqa-J3G {
            font-family: Inter, 'Source Sans Pro';
            justify-content: center;
            background-repeat: no-repeat;
            margin: 0rem 1.738rem 0.778rem 1.75rem;
            width: calc(100% - 3.4885rem);
            text-align: center;
            font-weight: 400;
            font-size: 1.6rem;
            display: flex;
            align-items: center;
            background-size: cover;
            letter-spacing: 0.08rem;
            white-space: nowrap;
            background-image: url('REPLACE_IMAGE:3:110');
            flex-shrink: 0;
            height: 6.8447rem;
            line-height: 1.2125;
            color: #000000;
            background-position: center;
          }
          .fab-manager-9Zg {
            font-family: Inter, 'Source Sans Pro';
            line-height: 1.2125;
            letter-spacing: 0.08rem;
            font-weight: 400;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.6rem;
          }
        }
        .group-11-4wY {
          flex-shrink: 0;
          margin-right: 4.4rem;
          width: 11.8rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-jrss-QkW {
            text-align: center;
            font-size: 1.6rem;
            align-items: center;
            width: calc(100% - 4.4885rem);
            font-family: Inter, 'Source Sans Pro';
            justify-content: center;
            flex-shrink: 0;
            margin: 0rem 2.238rem 0.805rem 2.25rem;
            line-height: 1.2125;
            letter-spacing: 0.08rem;
            color: #000000;
            white-space: nowrap;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:3:114');
            font-weight: 400;
            display: flex;
            background-position: center;
            height: 6.8447rem;
          }
          .formateur-dveloppement-Gni {
            line-height: 1.2125;
            letter-spacing: 0.08rem;
            color: #000000;
            flex-shrink: 0;
            max-width: 11.8rem;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .group-12-nm4 {
          margin-right: 4.5rem;
          width: 10.4rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-rnl6-8pv {
            width: calc(100% - 3.0885rem);
            font-weight: 400;
            letter-spacing: 0.08rem;
            font-family: Inter, 'Source Sans Pro';
            background-image: url('REPLACE_IMAGE:3:118');
            line-height: 1.2125;
            justify-content: center;
            background-repeat: no-repeat;
            height: 6.8447rem;
            text-align: center;
            align-items: center;
            background-position: center;
            flex-shrink: 0;
            margin: 0rem 1.538rem 0.805rem 1.55rem;
            font-size: 1.6rem;
            color: #000000;
            white-space: nowrap;
            display: flex;
            background-size: cover;
          }
          .formateur-lectronique-C46 {
            max-width: 10.4rem;
            font-size: 1.6rem;
            line-height: 1.2125;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            text-align: center;
            font-weight: 400;
            letter-spacing: 0.08rem;
            color: #000000;
          }
        }
        .group-13-4rz {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 11.8rem;
          height: 100%;

          .auto-group-g7nn-1nE {
            flex-shrink: 0;
            width: calc(100% - 4.4885rem);
            font-weight: 400;
            letter-spacing: 0.08rem;
            justify-content: center;
            margin: 0rem 2.238rem 0.805rem 2.25rem;
            line-height: 1.2125;
            color: #000000;
            white-space: nowrap;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:3:122');
            height: 6.8447rem;
            text-align: center;
            font-size: 1.6rem;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            align-items: center;
          }
          .formateur-refrent-digitale-TeE {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            max-width: 11.8rem;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 400;
            letter-spacing: 0.08rem;
            flex-shrink: 0;
          }
        }
      }
    }
    .frame-11-jre {
      flex-shrink: 0;
      padding: 1.2rem 1.35rem 0.9rem 4.2rem;
      overflow: hidden;
      display: flex;
      position: relative;
      align-items: center;
      flex-direction: column;
      border: solid 0.3rem #000000;
      margin-right: 0.1rem;
      box-sizing: border-box;
      width: calc(100% - 0.1rem);

      .contact-RjU {
        color: #000000;
        white-space: nowrap;
        margin: 0rem 2.05rem 1.2rem 0rem;
        text-align: center;
        font-size: 2.4rem;
        line-height: 1.2125;
        letter-spacing: 0.12rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .auto-group-bcuc-eML {
        margin-bottom: 2.6rem;
        width: 100%;
        height: 9.2rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .group-3-BMG {
          margin-right: 2.3rem;
          box-sizing: border-box;
          padding: 1.368rem 3.25rem 1.932rem 3.25rem;
          width: 18.7rem;
          height: 100%;
          border: solid 0.2rem #000000;
          background-color: #d9d9d9;
          flex-shrink: 0;

          .formulaire-de-contact-Jgn {
            font-family: Inter, 'Source Sans Pro';
            max-width: 12.2rem;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
          }
        }
        .localisation-adesseadresse-Qzi {
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 4.05rem 0.5rem 0rem;
          max-width: 17.9rem;
          text-align: center;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
        }
        .rseaux-sociaux-hiv {
          text-align: center;
          font-size: 2.4rem;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.4rem;
          font-weight: 400;
        }
      }
      .mention-lgale-1zW {
        margin-right: 3.05rem;
        text-align: center;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
      }
    }
  }
}
